@import "variables";

:host {
  display: block;
  min-height: 100vh;
}

.description {
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding-top: 1.18125rem;
}

h3 {
  font-size: 1.25rem;
  color: #eeab27;
}

.last-article {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  transition: all 0.3s;

  .image {
    width: 100%;
    margin: auto;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-container {
    position: absolute;
    bottom: 0;
    color: $white;
    text-align: start;
    background: linear-gradient(transparent, #000000de);
    width: 100%;
    transition: all 0.3s;
    .content {
      padding: 40px;

      :first-child {
        margin: 0 0 0 8px;
      }
      :not(:first-child) {
        margin: 0 8px 8px;
      }
    }
  }

  &:hover {
    cursor: pointer;

    transform: scale(1.05);
  }
}

.articles {
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  align-items: flex-start;
}

.article {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 317px;
  transition: all 0.3s;
  margin: 24px 8px;
  transition: all 0.3s;

  .image {
    width: 100%;
    margin: auto;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .content-container {
    text-align: start;

    .content {
      padding: 8px;

      h2 {
        font-size: 25px;
        margin: 0;
      }

      h3 {
        margin: 0;
        margin-bottom: 16px;
      }

      button {
        margin-top: 16px;
        width: 100%;
      }
    }
  }

  &:hover {
    cursor: pointer;

    transform: scale(1.05);
  }
}
