<nav
  [ngClass]="{
    hide: hide || scrolledTheme,
    scrolled: scrolled || scrolledTheme
  }">
  <div></div>
  <div class="open-menu">
    <button
      type="button"
      class="icon icon-menu"
      (click)="toggleMenu()"></button>
  </div>
  <ul
    class="main-menu"
    [ngStyle]="{ display: 'flex', top: height ? '0' : '-1000%' }">
    <li>
      <a href="#">
        <img
          width="200"
          height="24"
          src="/assets/images/logo/logo.webp"
          alt="logo header" />
      </a>
    </li>
    <li>
      <a
        class="link"
        [href]="ROUTING.About">
        {{ 'about_me.title' | translate }}
      </a>
    </li>
    <li>
      <a
        class="link"
        [href]="ROUTING.Wedding">
        {{ 'wedding.title' | translate }}
      </a>
    </li>
    <li>
      <a
        class="link"
        [href]="ROUTING.Blogs">
        {{ 'blogs.title' | translate }}
      </a>
    </li>
    <li>
      <a
        class="button is-medium button-hover-white primary-color"
        [class.button-hover-white]="!scrolled && !scrolledTheme"
        target="_blank"
        rel="noopener noreferrer"
        [href]="ROUTING.calendly">
        {{ 'common.action.appointment' | translate | uppercase }}
      </a>
    </li>
    <li class="close-menu">
      <button
        class="icon icon-x"
        (click)="toggleMenu()"></button>
    </li>
  </ul>
</nav>

@if (scrolledTheme) {
  <div class="header"></div>
}
