@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scrolled {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-top: -130px;
  background: $white;

  *:not(.button) {
    color: $black;
  }
}

img {
  max-width: 200px;
}

.hide {
  margin-top: 0;
}

nav {
  display: flex;
  position: absolute;
  z-index: $menu-z-index;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  transition: background-color .25s ease;
  color: $white;

  .main-menu {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .open-menu {
    display: none;
    margin: 20px;
    font-size: 2rem;
    cursor: pointer;
  }
}

.link {
  display: inline-block;
  padding: 30px 20px;
  color: $white;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.close-menu,
.icon i {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media(max-width: 900px) {
  nav {
    justify-content: space-between;

    .main-menu {
      display: none;
      position: fixed;
      z-index: $menu-z-index;
      top: 0;
      right: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      transition: top .25s ease;
      background: $primary;

      .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

    .open-menu {
      display: block;
    }
  }

  .icon {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
  }

  .main-menu li a:hover {
    opacity: .6;
    background: none;
    font-size: 1.6rem;
  }
}
