<div class="container">

  <h2>Buttons</h2>
  <section class="code-demo">
    <div class="demo text-center">
      <a href="#">Lien par défaut</a>
    </div>
    <pre><code [languages]="['html']" [highlight]="linkDefault"></code></pre>
  </section>

  <section class="code-demo">
    <div class="demo text-center">
      <a href="#" class="button">Lien avec style de bouton</a>
    </div>
    <pre><code [languages]="['html']" [highlight]="linkButton"></code></pre>
  </section>

  <section class="code-demo">
    <div class="demo text-center">
      <button>Défaut</button>
      <button class="primary-color">primary-color</button>
      <button class="secondary-color">secondary-color</button>
      <button class="tertiary-color">tertiary-color</button>
      <button class="white-color">white-color</button>
    </div>
    <pre><code [languages]="['html']" [highlight]="buttonDefault"></code></pre>
  </section>

  <section class="code-demo">
    <div class="demo text-center">
      <button class="button-outline">Outline</button>
      <button class="button-outline primary-color">primary-color</button>
      <button class="button-outline secondary-color">secondary-color</button>
      <button class="button-outline tertiary-color">tertiary-color</button>
      <button class="button-outline white-color">white-color</button>
    </div>
    <pre><code [languages]="['html']" [highlight]="buttonOutline"></code></pre>
  </section>

  <section class="code-demo">
    <div class="demo text-center">
      <button disabled>Bouton désactivé</button>
    </div>
    <pre><code [languages]="['html']" [highlight]="buttonDisabled"></code></pre>
  </section>

  <section class="code-demo">
    <div class="demo text-center">
      <button class="is-small">Small</button>
      <button class="is-small primary-color">primary-color</button>
      <button class="is-small secondary-color">secondary-color</button>
      <button class="is-small tertiary-color">tertiary-color</button>
    </div>
    <pre><code [languages]="['html']" [highlight]="buttonSmall"></code></pre>
  </section>

  <section class="code-demo">
    <div class="demo text-center">
      <button class="is-medium">Medium</button>
      <button class="is-medium primary-color">primary-color</button>
      <button class="is-medium secondary-color">secondary-color</button>
      <button class="is-medium tertiary-color">tertiary-color</button>
    </div>
    <pre><code [languages]="['html']" [highlight]="buttonMedium"></code></pre>
  </section>

  <section class="code-demo">
    <div class="demo text-center">
      <button class="left-icon">
        <em class="icon-search"></em>
        Bouton avec icône à gauche
      </button>
      <button class="left-icon primary-color">
        primary-color
        <em class="icon-search"></em>
      </button>
      <button class="left-icon secondary-color">
        secondary-color
        <em class="icon-search"></em>
      </button>
      <button class="left-icon tertiary-color">
        tertiary-color
        <em class="icon-search"></em>
      </button>
    </div>
    <pre><code [highlight]="buttonIconLeft" [languages]="['html']"></code></pre>
  </section>
  
  <section class="code-demo">
    <div class="demo text-center">
      <button class="right-icon">
        Bouton avec icône à droite
        <em class="icon-search"></em>
      </button>
      <button class="right-icon primary-color">
        primary-color
        <em class="icon-search"></em>
      </button>
      <button class="right-icon secondary-color">
        secondary-color
        <em class="icon-search"></em>
      </button>
      <button class="right-icon tertiary-color">
        tertiary-color
        <em class="icon-search"></em>
      </button>
    </div>
    <pre><code [highlight]="buttonIconRight" [languages]="['html']"></code></pre>
  </section>

  <section class="code-demo">
    <div class="demo text-center">
      <button class="button-hover-white">hover-white</button>
      <button class="button-hover-white primary-color">primary-color</button>
      <button class="button-hover-white secondary-color">secondary-color</button>
      <button class="button-hover-white tertiary-color">tertiary-color</button>
    </div>
    <pre><code [languages]="['html']" [highlight]="buttonHoverWhite"></code></pre>
  </section>

</div>
