{
  "plugins": [
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-no-unsupported-browser-features"
  ],
  "extends": [
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "at-rule-disallowed-list": null,
    "at-rule-empty-line-before": null,
    "at-rule-name-space-after": null,
    "at-rule-no-unknown": null,
    "block-opening-brace-space-before": "always",
    "color-hex-case": "upper",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-after": "always-single-line",
    "declaration-colon-space-before": "never",
    "declaration-empty-line-before": "never",
    "declaration-no-important": true,
    "declaration-property-unit-allowed-list": {
      "/^.*height.*/": ["em", "px", "%", "vh"],
      "/^.*width.*/": ["em", "px", "%", "vw"],
      "/^.*border.*/": ["px", "%"],
      "/^.*margin.*/": ["em", "px", "%"],
      "/^.*padding.*/": ["em", "px", "%"],
      "font-size": ["em", "px", "rem"],
      "line-height": [],
    },
    "font-family-name-quotes": "always-where-recommended",
    "function-comma-newline-after": null,
    "function-comma-space-after": "always-single-line",
    "function-parentheses-space-inside": "never",
    "function-url-quotes": [
      "never",
      {
        "except": ["empty"]
      }
    ],
    "indentation": 2,
    "length-zero-no-unit": true,
    "linebreaks": "unix",
    "max-empty-lines": 1,
    "max-nesting-depth": [
      4,
      {
        "ignoreAtRules": [
          "each",
          "media",
          "supports",
          "include"
        ]
      }
    ],
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-parentheses-space-inside": "never",
    "no-duplicate-selectors": true,
    "no-eol-whitespace": true,
    "no-extra-semicolons": true,
    "no-missing-end-of-source-newline": true,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "plugin/declaration-block-no-ignored-properties": true,
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "browsers": [
          "> 1%",
          "edge >= 14",
          "ie >= 11",
          "Firefox >= 52",
          "chrome >= 49",
          "safari >= 10.1",
          "iOS >= 9.3",
          "Android >= 44",
          "ChromeAndroid >= 59"
        ],
        "severity": "warning",
        "ignore": ["calc", "rem", "outline", "css-appearance", "css-gradients", "flexbox"],
        "ignorePartialSupport": true
      },
    ],
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "selector-attribute-quotes": "never",
    "selector-class-pattern": [
      "^[a-z0-9\\-]+$",
      {
        "message":
          "Selector should be written in lowercase with hyphens (selector-class-pattern)"
      }
    ],
    "selector-list-comma-newline-after": "always",
    "selector-max-compound-selectors": 3,
    "selector-max-id": 0,
    "selector-max-universal": 1,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute", "class"]
      }
    ],
    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": null,
    "shorthand-property-no-redundant-values": true,
    "string-quotes": "single",
    "unit-allowed-list": ["px", "em", "rem", "%", "s", "deg", "vh", "vw", "fr"],
    "value-list-comma-newline-after": "always",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never",
    "value-no-vendor-prefix": true
  }
}
