<!-- MENU -->
<app-header [scrolledTheme]="true"></app-header>

<section class="if-you-are-here">
  <div class="sensitivity">
    <div class="text">
      <h1>Photographe de Mariage à Caen</h1>
      <h2>Vos souvenir en Normandie</h2>

      <p>Le grand jour approche ! Entre l'excitation et la longue liste de choses à organiser,</p>
      <ul>
        <li>
          <a [href]="linkChoosePhotographer"><strong>Comment choisir le bon photographe ?</strong></a>
        </li>
        <li>
          <a [href]="linkDayAfter"><strong>Qu'est-ce qu'une séance photo "Day After" ?</strong></a>
        </li>
        <li>
          <a [href]="linkWeddingKit"><strong>Quels sont les accessoires à avoir le Jour-J ?</strong></a>
        </li>
      </ul>
      <p>vous voulez tout faire pour que ce moment <strong>reste gravé dans vos mémoires</strong>. Et c’est là que j’interviens!</p>

      <p>
        Ma priorité, c’est <strong>vous</strong>: vous permettre de revivre cette journée <strong>magique</strong> à travers des
        <strong>photos sincères</strong>, vibrantes d’<strong>émotion</strong> et de <strong>complicité</strong>. Chaque cliché raconte une
        <strong>histoire</strong>, la vôtre.
      </p>

      <p>
        Alors, si vous cherchez un <strong>photographe de mariage en Normandie</strong> qui sait mêler <strong>bonne humeur</strong> et
        <strong>professionnalisme</strong> pour immortaliser votre union, <strong>contactez-moi</strong>. Ensemble, transformons ces
        <strong>instants fugaces</strong> en <strong>souvenirs éternels</strong>!
      </p>
      <div class="flex content-center">
        <a
          class="button button-outline cta-about"
          target="_blank"
          href="https://calendly.com/dylanbonneau/appel-telephonique"
          rel="noopener noreferrer">
          Je te veux à mon mariage !
        </a>
      </div>
    </div>
    <div class="img">
      <img
        class="its-me"
        src="https://i.postimg.cc/8zYTNLqv/couple-elegant-sourire-regard-heureux.webp"
        alt="couple-elegant-sourire-regard-heureux" />
    </div>
  </div>
</section>

<div class="container-banner mt-0">
  <img
    src="https://i.postimg.cc/tgVpTYjM/femmes-souvenir-mariage-plante-arbre-heureuse.webp"
    alt="femmes-souvenir-mariage-plante-arbre-heureuse"
    class="full-size" />
  <p class="top-left">
    <i>
      Pour votre <strong>mariage à Caen et en Normandie</strong>, offrez-vous un <strong>reportage photo authentique</strong> qui met en
      lumière votre amour et vos émotions
    </i>
  </p>
</div>

<section>
  <div class="text two-flex-blocs">
    <div>
      <h2>Photographe mariage Caen</h2>
      <p>
        Vous préparez votre mariage à <strong>Caen</strong> ou dans une autre belle région du <strong>grand Ouest</strong> ? Avez-vous
        réfléchi à la meilleure manière d’<strong>immortaliser chaque moment</strong> de cette journée unique ? Que vous rêviez d’un cadre
        romantique dans la campagne normande, des ruelles historiques de <strong>Caen</strong>, ou du charme des plages normandes, chaque
        lieu regorge d’opportunités pour un <strong>reportage photo de mariage</strong> authentique et mémorable.
      </p>
      <img
        class="full-size"
        src="https://i.postimg.cc/VNY1bR3K/mere-enfant-baiser-bisous-fenetre-noir-et-blanc.webp"
        alt="mere-enfant-baiser-bisous-fenetre-noir-et-blanc" />
    </div>
    <div>
      <img
        class="full-size"
        src="https://i.postimg.cc/T31TztHG/voiture-citroen-traction-homme-mariage-caen.webp"
        alt="voiture-citroen-traction-homme-mariage-caen" />
      <h3>Un cadre parfait à Caen et en Normandie</h3>
      <p>
        Caen, au cœur de la <strong>Normandie</strong>, offre une multitude de lieux enchanteurs pour célébrer votre union. Que ce soit dans
        un <strong>château normand</strong>, un élégant domaine, ou au grand air dans l’un des nombreux parcs de la région, vous trouverez
        le décor idéal pour sublimer votre journée. En tant que <strong>photographe de mariage à Caen</strong>, je capture avec discrétion
        les instants les plus précieux de votre célébration. Mon objectif est de raconter votre histoire à travers des
        <strong>photos naturelles</strong> et remplies d’<strong>émotions authentiques</strong>.
      </p>
      <p>
        Que vous rêviez d’une séance photo sur les plages emblématiques du Débarquement, d’une promenade dans la campagne normande ou d’une
        escapade dans les ruelles chargées d’histoire de Caen, je vous accompagne pour immortaliser ces moments uniques. La
        <strong>photographie de mariage en Normandie</strong> est riche en paysages variés, et chaque cliché sera l’occasion de capturer la
        beauté de votre amour dans un cadre qui vous ressemble.
      </p>
    </div>
  </div>
</section>

<section class="it-was-in">
  <div class="text">
    <h2>La beauté de la Normandie et de Caen</h2>
    <p>
      Imaginez-vous, en tant que <strong>jeunes mariés</strong>, main dans la main sur une plage normande, au coucher du soleil, ou bien
      dans un ancien manoir normand, entourés de nature et d’histoire. Ces moments magiques, vous les garderez précieusement dans votre cœur
      et dans vos photos. En tant que photographe de mariage en <strong>Normandie</strong>, je suis dédié à capturer chaque détail, chaque
      sourire, chaque éclat de bonheur avec toute l’attention qu’il mérite.
    </p>

    <p>
      La <strong>Normandie</strong> est célèbre pour ses paysages époustouflants, ses plages sauvages et son patrimoine historique
      fascinant. Que vous envisagiez un mariage romantique sur les plages de <strong>Deauville</strong> ou une cérémonie dans les ruelles
      pittoresques de <strong>Caen</strong>, la Normandie offre des décors variés parfaits pour des photos de mariage inoubliables. Tout
      comme Caen, la <strong>Normandie</strong> est un véritable écrin pour des séances photos remplies d’émotion et de charme.
    </p>

    <p>
      Prêts à planifier votre mariage ? <strong>Contactez-moi</strong> dès aujourd'hui, et ensemble, nous créerons des souvenirs magnifiques
      que vous conserverez à vie.
    </p>

    <div class="flex content-center">
      <a
        class="button cta-about white-color"
        target="_blank"
        href="https://calendly.com/dylanbonneau/appel-telephonique"
        rel="noopener noreferrer">
        Discutons de votre projet
      </a>
    </div>
  </div>
</section>

<section>
  <div class="text">
    <h2>De la première rencontre à l'album final : Un suivi complet</h2>
    <p>
      En tant que <strong>photographe de mariage à Caen</strong>, je vous propose un <strong>accompagnement personnalisé</strong> dès le
      début de vos préparatifs. Mon approche repose sur une écoute attentive de vos <strong>besoins</strong>, de vos
      <strong>préférences</strong> et de vos <strong>rêves</strong> pour cette journée exceptionnelle. Je m'engage à être présent à chaque
      étape, en vous offrant des conseils <strong>adaptés</strong> pour que tout se passe comme vous l'avez imaginé.
    </p>

    <p>
      Mon objectif est de vous aider à vous sentir <strong>confidents</strong> et <strong>sereins</strong> devant l'objectif, afin que vos
      photos témoignent de manière <strong>authentique</strong> de votre <strong>amour</strong> et de votre <strong>complicité</strong>.
    </p>
  </div>
  <ul class="list-actions">
    <li>
      <h3>Avant le mariage</h3>
      <img
        class="img"
        src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTRkZWU2Y3I3M240ZWg5aTNpY2dveTdqeXgxZnV3dG5mcjIxcHRsbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0Iy0jZ96dgCuZCE0/giphy.webp"
        alt="courrir_jogging_parc_cafe" />
      <p>
        En tant que <strong>photographe de mariage à Caen</strong>, je suis là pour vous accompagner dès les premières étapes de votre
        préparation et vous garantir une expérience <strong>sans stress</strong> avant le grand jour. Lors de notre première rencontre, nous
        discuterons de vos <strong>envies</strong> et de vos <strong>rêves</strong> pour créer une <strong>connexion sincère</strong> et
        comprendre ce qui vous tient à cœur.
      </p>

      <p>
        Vous avez des idées ou des <strong>questions</strong> ? N'hésitez pas à les partager avec moi ! Je propose également une
        <strong>séance photo de fiançailles</strong>, idéale pour vous détendre devant l'objectif et capturer des
        <strong>instants authentiques</strong>.
      </p>

      <p>
        Pour que tout se déroule à merveille, nous planifierons ensemble chaque <strong>moment clé</strong> de votre journée. Ainsi, vous
        pourrez profiter de votre <strong>mariage</strong> pleinement et en toute sérénité.
      </p>
    </li>
    <li>
      <h3>Pendant le mariage</h3>
      <img
        class="img"
        src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYm13MGtpYXd3aHFiYWMwY2d3Y3p2MHVmaXV0cmU2dG5vMDR6YWxmcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XH3jHyWBXOQBifW6Fe/giphy.webp"
        alt="courrir_jogging_parc_cafe" />
      <p>
        Lors de votre mariage en <strong>Normandie</strong>, je m'engage à capturer l'âme de chaque instant en toute discrétion, grâce à un
        <strong>reportage photo naturel</strong> et <strong>spontané</strong>. Mon approche me permet de saisir chaque
        <strong>émotion</strong> sans perturber vos moments les plus précieux. Que ce soit pour immortaliser un
        <strong>regard complice</strong>, des <strong>rires</strong> ou des <strong>larmes de joie</strong>, mon but est de raconter votre
        <strong>histoire</strong> de manière <strong>authentique</strong>. Je prends également le temps de réaliser de magnifiques
        <strong>portraits de couple</strong> et des <strong>photos de groupe</strong> pour que chaque instant de votre journée spéciale soit
        <strong>gravé à jamais</strong>.
      </p>
    </li>
    <li>
      <h3>Après le mariage</h3>
      <img
        class="img"
        src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExczhoZG0yYTljeTY5ejg3cHZ6cjM0MGlzYjB5Yjh1MDV3eXFoYmV1OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TrzZiM8W5fdEqd7WvV/giphy.webp"
        alt="courrir_jogging_parc_cafe" />
      <p>
        Après votre mariage, mon engagement ne s'arrête pas là! Une <strong>retouche minutieuse</strong> de vos photos, accompagnée de la
        livraison d’un <strong>album photo</strong> personnalisé et de <strong>fichiers numériques</strong>, est incluse. Pour prolonger la
        <strong>magie</strong>, je vous propose une séance photo <strong>“day after”</strong>. Offrez-vous un moment détendu pour capturer
        des images uniques dans des décors variés. Que ce soit sur les <strong>plages normandes</strong>, en pleine nature, ou dans le cœur
        de <strong>Caen</strong>, ces photos deviendront un <strong>souvenir précieux</strong> de votre amour. N’hésitez pas à envisager
        cette option pour enrichir vos <strong>souvenirs</strong> !
      </p>
    </li>
  </ul>
</section>

<section class="values">
  <div class="text">
    <h2>Un accompagnement personnalisé pour chaque étape de votre mariage</h2>

    <div class="steps-bloc">
      <div class="illustration">
        <span class="number"> {{ selectedStep?.id }} </span>
        <img
          class="full-size"
          [src]="selectedStep?.illustration ?? ''"
          alt="" />
      </div>
      <div class="steps mt-xxl">
        <ul>
          @for (step of steps | slice: 0 : 4; let index = $index; track step) {
            <li [class.text-bold]="selectedStepIndex >= index">{{ step?.id }}. {{ step?.title }}</li>
          }
        </ul>
        <ul>
          @for (step of steps | slice: 4 : 8; let index = $index; track step) {
            <li [class.text-bold]="selectedStepIndex >= index + 4">{{ step?.id }}. {{ step?.title }}</li>
          }
        </ul>
      </div>
    </div>

    <p class="mt-xxl">
      Pour m'assurer que chaque moment clé de votre mariage soit capturé avec soin, je vous propose un
      <strong>accompagnement personnalisé</strong> dès les premières étapes de vos préparatifs. Mon but est de rendre chaque phase de votre
      <strong>aventure vers le grand jour</strong> aussi fluide et <strong>inoubliable</strong> que possible. De notre première rencontre à
      la séance photo <strong>"day after"</strong>, je vous guide pour que vous viviez chaque instant en toute <strong>confiance</strong> et
      <strong>sérénité</strong>, tout en créant des <strong>souvenirs durables</strong> que vous chérirez toute votre vie.
    </p>
  </div>

  <ul class="list-actions">
    <li>
      <img
        class="img"
        [src]="getStep(EStep.CONSULTATION)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Consultation personnalisée</h3>
      <p>
        Tout commence par une <strong>consultation</strong> où nous prenons le temps de discuter de vos <strong>attentes</strong>, de vos
        <strong>envies</strong> et du <strong>style de mariage</strong> que vous souhaitez. Que vous souhaitiez une
        <strong>cérémonie intime</strong> ou une <strong>grande fête</strong>, je m'efforce de comprendre votre <strong>vision</strong>.
        Cette étape est cruciale pour établir un <strong>lien de confiance</strong> et pour que vous vous sentiez à l’aise avec moi le
        <strong>jour J</strong>.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.FIANCAILLE)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Séance photo Fiançaille</h3>
      <p>
        Je vous propose également une séance photo de <strong>fiançailles</strong> qui vous permettra de vous familiariser avec l’appareil
        photo et de vous détendre devant l’objectif. C’est une excellente occasion de capturer des moments de
        <strong>complicité</strong> dans un <strong>cadre qui vous ressemble</strong>, que ce soit à <strong>Caen</strong> ou dans les
        magnifiques <strong>paysages de la Normandie</strong>. Ces photos ne serviront pas seulement à
        <strong>annoncer votre mariage</strong>, mais aussi à vous faire sentir plus à l’aise et sereins le jour de votre
        <strong>célébration</strong>.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.PLANNING)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Planification des moments clés</h3>
      <p>
        Nous travaillons ensemble pour élaborer un <strong>planning</strong> des <strong>moments clés</strong> que vous souhaitez
        <strong>immortaliser</strong> le jour de votre <strong>mariage</strong>. Qu’il s’agisse des <strong>préparatifs</strong>, de la
        <strong>cérémonie</strong> ou de la <strong>réception</strong>, nous nous assurons que chaque <strong>instant important</strong> est
        bien prévu afin que rien ne soit oublié.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.DISCRET)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Un service de reportage photo discret</h3>
      <p>
        Je crois en un <strong>reportage photo de mariage </strong><strong>naturel</strong> et <strong>discret</strong>. Mon approche
        consiste à se fondre pour capturer des <strong>moments authentiques</strong> sans perturber le déroulement de votre journée. Des
        <strong>éclats de rire</strong> aux <strong>larmes de joie</strong>, chaque <strong>émotion</strong> sera soigneusement
        immortalisée.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.MOMENTS)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Photographie de moments clés</h3>
      <p>
        Que votre cérémonie soit <strong>laïque</strong>, <strong>religieuse</strong> ou <strong>civile</strong>, je suis là pour documenter
        chaque instant. Je sais que ce sont souvent les <strong>petits détails</strong> (un regard échangé, une main qui se serre) qui
        rendent ces moments si spéciaux. Mon objectif est de vous offrir un <strong>reportage photo mariage</strong> qui raconte votre
        <strong>histoire</strong> de manière <strong>authentique</strong>.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.GROUPE)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Portraits de couple et photos de groupe</h3>
      <p>
        Je prends également le temps de réaliser des <strong>portraits de couple</strong> durant votre réception ou à un moment qui vous
        convient. Je vous guiderai pour créer des <strong>poses naturelles</strong> et des <strong>photos romantiques</strong> tout en
        capturant la <strong>beauté de votre lieu de mariage</strong>. Les <strong>photos de groupe</strong> sont également importantes, et
        j'organise cela de manière <strong>fluide</strong> pour que vous puissiez profiter de chaque instant avec vos invités.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.RETOUCHE)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Retouche et livraison des photos</h3>
      <p>
        Après votre mariage, je me mets à la <strong>retouche</strong> de vos photos. Chaque <strong>image</strong> est soigneusement
        <strong>sélectionnée</strong> et <strong>retouchée</strong> pour garantir la meilleure <strong>qualité</strong>. Je vous livre
        ensuite un <strong>album photo de mariage</strong> ainsi que des <strong>fichiers numériques</strong> dans un délai convenu.
        L'<strong>album</strong> est un véritable <strong>trésor</strong>, un <strong>héritage</strong> que vous pourrez transmettre à votre
        <strong>famille</strong> et <strong>amis</strong>.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.AFTER)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Séance photo Day after</h3>
      <p>
        Si vous souhaitez prolonger l’aventure et conserver encore plus de <strong>souvenirs inoubliables</strong>, je vous propose une
        séance photo <strong>“day after”</strong> dans la magnifique région de <strong>Caen</strong>, en <strong>Normandie</strong>. Cette
        séance est l’occasion idéale de revivre la <strong>magie de votre mariage</strong>, mais sans le stress du grand jour. Vous pourrez
        vous détendre, profiter du moment et créer des <strong>images intemporelles</strong> qui captureront votre
        <strong>complicité</strong> de manière unique.
      </p>
    </li>
  </ul>
</section>

<section>
  <h2>Ce que comprend chaque formule</h2>

  <div class="text">
    <p>
      Choisir la <strong>formule</strong> qui correspond à vos <strong>besoins</strong> pour votre mariage est essentiel, mais il est tout
      aussi important de comprendre ce qui est inclus dans chacune d’elles. Voici un aperçu des <strong>éléments</strong> qui constituent le
      <strong>tronc commun</strong> de toutes mes formules, garantissant ainsi une <strong>expérience complète</strong> et
      <strong>satisfaisante</strong> :
    </p>
  </div>
  <div class="text">
    <div class="includes">
      <h3>Ce que comprend chaque formule</h3>
      <ul>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Nos échanges avant et après le Mariage</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Ma présence le Jour du Mariage</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Le post traitement des photos</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Un coffret avec une clé USB</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Séance fiançaille</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Album photo de mariage</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Conservation de vos photographies de mariage (1 an)</span>
        </li>
      </ul>
      <div class="flex content-center">
        <a
          class="button white-color cta-about"
          target="_blank"
          href="https://calendly.com/dylanbonneau/appel-telephonique"
          rel="noopener noreferrer">
          Parlons de votre projet
        </a>
      </div>
    </div>
  </div>
</section>

<section class="its-your-turn">
  <div class="text">
    <h2>Maintenant, c'est à <span class="primary-color">votre tour</span> de vous dévoiler.</h2>
    <p>
      Je vous ai parlé de moi, de comment je travaille, mais je ne sais encore rien de vous. <strong>Racontez-moi</strong> comment vous vous
      êtes rencontré. <strong>Dites-moi</strong> qui a fait le premier bisou. <strong>Je veux en savoir</strong> plus sur vous.
      <strong>Prenons le temps d'échanger</strong> autour d'un café, d'un thé ou pourquoi pas une bonne bière.
    </p>
  </div>
  <a
    class="button primary-color is-medium"
    target="_blank"
    href="https://calendly.com/dylanbonneau/appel-telephonique"
    rel="noopener noreferrer">
    Prenons le temps d'échanger
  </a>
</section>

<app-footer></app-footer>
