<nav [ngClass]="{'hide': hide, 'scrolled': scrolled }">
  <div></div>
  <!-- <span class="logo">Dylan</span> -->
  <div class="open-menu"><i class='icon icon-menu' (click)="toggleMenu()"></i></div>
  <ul class="main-menu" [ngStyle]="{'display' : 'flex', 'top': height ? '0' : '-100%'}">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
    <div class="close-menu"><i class="icon icon-x" (click)="toggleMenu()"></i></div>
  </ul>
</nav>
