@use '../modules/fonts/icomoon';

.icon-search::before {
  content: '\e900';
}

.icon-star::before {
  content: '\e901';
}

.icon-wallet::before {
  content: '\e902';
}

.icon-x::before {
  content: '\e903';
}

.icon-check::before {
  content: '\e904';
}

.icon-heart::before {
  content: '\e905';
}

.icon-more-horizontal::before {
  content: '\e906';
}

.icon-more-vertical::before {
  content: '\e907';
}

.icon-star-solid::before {
  content: '\e908';
}

.icon-heart-solid::before {
  content: '\e909';
}

.icon-previous::before {
  content: '\e90a';
}

.icon-next::before {
  content: '\e90b';
}

.icon-bxs-user::before {
  content: '\e90c';
}

.icon-image::before {
  content: '\e90d';
}

.icon-images::before {
  content: '\e90e';
}

.icon-camera::before {
  content: '\e90f';
}

.icon-bx-user::before {
  content: '\e910';
}

.icon-bx-code-block::before {
  content: '\e911';
}

.icon-bx-git-repo-forked::before {
  content: '\e912';
}

.icon-bx-git-pull-request::before {
  content: '\e913';
}

.icon-bx-git-merge::before {
  content: '\e914';
}

.icon-bx-git-compare::before {
  content: '\e915';
}

.icon-bx-git-commit::before {
  content: '\e916';
}

.icon-bx-code::before {
  content: '\e917';
}

.icon-bx-code-curly::before {
  content: '\e918';
}

.icon-bxs-data::before {
  content: '\e919';
}

.icon-bxs-component::before {
  content: '\e91a';
}

.icon-bx-code-alt::before {
  content: '\e91b';
}

.icon-bxs-chevron-down::before {
  content: '\e91c';
}

.icon-bxs-chevron-up::before {
  content: '\e91d';
}

.icon-bxs-chevron-right::before {
  content: '\e91e';
}

.icon-bx-git-branch::before {
  content: '\e91f';
}

.icon-bx-terminal::before {
  content: '\e920';
}

.icon-bxs-chevron-left::before {
  content: '\e921';
}

.icon-bxs-info-circle::before {
  content: '\e922';
}

.icon-bx-info-circle::before {
  content: '\e923';
}

.icon-bx-minus::before {
  content: '\e924';
}

.icon-bx-plus::before {
  content: '\e925';
}

.icon-bxs-right-arrow::before {
  content: '\e926';
}

.icon-bxs-left-arrow::before {
  content: '\e927';
}

.icon-bxs-up-arrow::before {
  content: '\e928';
}

.icon-bxs-down-arrow::before {
  content: '\e929';
}

.icon-price-tag::before {
  content: '\e935';
}

.icon-price-tags::before {
  content: '\e936';
}

.icon-credit-card::before {
  content: '\e93f';
}

.icon-location::before {
  content: '\e947';
}

.icon-location2::before {
  content: '\e948';
}

.icon-calendar::before {
  content: '\e953';
}

.icon-pie-chart::before {
  content: '\e99a';
}

.icon-stats-dots::before {
  content: '\e99b';
}

.icon-stats-bars::before {
  content: '\e99c';
}

.icon-gift::before {
  content: '\e99f';
}

.icon-trash::before {
  content: '\e9ac';
}

.icon-airplane::before {
  content: '\e9af';
}

.icon-menu::before {
  content: '\e9bd';
}

.icon-earth::before {
  content: '\e9ca';
}

.icon-google::before {
  content: '\ea89';
}

.icon-facebook::before {
  content: '\ea91';
}

.icon-instagram::before {
  content: '\ea92';
}

.icon-youtube::before {
  content: '\ea9d';
}

.icon-youtube2::before {
  content: '\ea9e';
}

.icon-bxs-quote-alt-right::before {
  content: '\e92a';
}

.icon-bxs-quote-alt-left::before {
  content: '\e92b';
}
