.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Flex Display
 */
.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.content-initial {
  justify-content: initial;
}

.content-center {
  justify-content: center;
}

.content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.full-size {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mobile {
  display: block;
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.desktop {
  display: none;
  @media screen and (min-width: 600px) {
    display: block;
  }
}
