@use "variables";

:host {
  display: block;
  min-height: 100vh;
}

h3 {
  font-weight: 700;
  margin: 0 0 0 20px;
}

h4 {
  font-weight: 700;
}

.title {
  letter-spacing: 0.02em;
  line-height: 1.2em;
  max-width: 700px;
  font-size: 32px;
  margin: 0 auto;
}

.date {
  display: block;
  color: black;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

article {
  max-width: 1032px;
  margin: auto;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .imgs {
    display: flex;
    flex-direction: column;
    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  img {
    max-height: 460px;
    max-width: 1200px;
    object-fit: cover;
    margin-bottom: 24px;

    &:not(.portrait) {
      width: 100%;
    }

    @media (min-width: 900px) {
      border-radius: 8px;
    }
  }
}

.block {
  flex-direction: column;
  align-items: initial;
  position: static;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0;

  @media (min-width: 900px) {
    flex-direction: row;
    padding: 24px;
  }
}

.fixed-div {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 auto;
  margin-bottom: 64px;

  @media (min-width: 900px) {
    width: 270px;
    margin-bottom: 0;
  }
}

.sticky_div {
  position: sticky;
  top: 136px;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  grid-row-gap: 24px;
  width: 100%;
}

.bold {
  font-weight: 700;
}

.large {
  text-align: start;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.toc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tocitem {
  display: flex;
  padding: 10px;
  border-left: 1px solid var(--grey-d);
  color: var(--black);
  font-size: 12px;
  line-height: 1.4;
  text-decoration: none;
  cursor: pointer;

  &.active {
    border-left-width: 2px;
    border-left-color: var(--primary);
    background-color: var(--secondary);
  }
}

.content {
  display: flex;
  width: 100%;
  max-width: 808px;
  text-align: start;
  margin-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 900px) {
    padding: 0 24px;
  }
}
