<app-header [scrolledTheme]="true"></app-header>

<div class="block">
  <h1>404 : la page s'est mariée</h1>
  <div class="text-block">
    <p>
      Ah, vous n'avez pas trouvé la page que vous cherchiez ? Pas de panique, c'est peut-être parce qu'elle s'est mariée elle aussi et
      qu'elle a quitté le site pour aller se déhancher sur la piste de danse. Ne vous en faites pas, je suis sûr qu'elle sera de retour
      demain, toute pimpante et reposée.
    </p>
    <p>
      En attendant, pourquoi ne pas profiter de cette occasion pour découvrir mon travail en tant que photographe de mariage ? je suis sûr
      que vous allez adorer mes photos et que vous serez prêt à me confier la capture de chaque moment important et émouvant de votre grand
      jour. Alors, ne laissez pas cette petite mésaventure vous gâcher la vie et jetez un œil à nmon travail ! Je suis certain que vous
      allez craquer.
    </p>
  </div>
  <button
    class="primary-color is-medium"
    (click)="navigateToWedding()">
    Montre nous ton univers
  </button>
</div>
