<!-- MENU -->
<app-header [scrolledTheme]="true"></app-header>


<article>
  <h1 class="title" data-title="24 juillet 2021">Mariage au Château de la Perquette <br> Anaïs & Jeremy</h1>

  <div class="block-container">
    <img class="mb-xl img-title" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9960.jpg" alt="IMG_9960">

    <p>
      Cela faisait longtemps que je rêvais d'avoir l'opportunité de photographier un mariage à Aynhoe Park dans les
      Cotswolds. C'est vraiment un lieu pas comme les autres et promet un cadre et une toile de fond extraordinaires
      pour une fête de mariage. Il offre une «mise en scène pour un spectacle» et aucun niveau de décor ou
      d'extravagance ne manque dans ce cadre magnifique qui regorge d'art et de détails qui en font un rêve pour les
      photographes de mariage. À seulement 50 minutes de Londres, c'est également un lieu de mariage idéal en dehors de
      la ville.

      Ce mariage a été soutenu par les compétences créatives et organisationnelles de l'une de mes organisatrices de
      mariage préférées, Alexandra, de The Bijou Bride, qui est la personne la plus calme, la plus discrète et la plus
      chaleureuse et charmante avec laquelle j'ai travaillé et qui connaît Aynhoe Park en tant que un lieu de mariage.

      En plus de la noce, le chien de Tracy a joué un rôle important en tant que porteur d'anneau pour la cérémonie et
      son entraînement a porté ses fruits puisqu'il a livré l'anneau au marié, presque sans accroc !
    </p>

    <div class="block-images mt-xl mb-xl">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_8803.jpg" alt="IMG_8803">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9102.jpg" alt="IMG_9102">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9109.jpg" alt="IMG_9109">

        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9142.jpg" alt="IMG_9142">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9960.jpg" alt="IMG_9960">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9201.jpg" alt="IMG_9201">

        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9213.jpg" alt="IMG_9213">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9767.jpg" alt="IMG_9767">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9167.jpg" alt="IMG_9167">
    </div>

    <div class="block-images-wrapper">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9167.jpg" alt="IMG_9167">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9167.jpg" alt="IMG_9167">
    </div>

    <div class="block-images mt-xl mb-xl">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_8803.jpg" alt="IMG_8803">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9102.jpg" alt="IMG_9102">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9109.jpg" alt="IMG_9109">

        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9142.jpg" alt="IMG_9142">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9960.jpg" alt="IMG_9960">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9201.jpg" alt="IMG_9201">

        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9213.jpg" alt="IMG_9213">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9767.jpg" alt="IMG_9767">
        <img class="mb-md" src="/assets/images/portfolio/gallery/anais_jeremy/IMG_9167.jpg" alt="IMG_9167">
    </div>

  </div>
</article>
