.alert {
  padding: 20px;
  color: white;
}

.error {
  background-color: #F44336;
}

.success {
  background-color: #04AA6D;
}

.info {
  background-color: #2196F3;
}

.warning {
  background-color: #FF9800;
}

.closebtn {
  margin-left: 15px;
  float: right;
  transition: .3s;
  color: white;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
