@font-face {
  font-family: Cardo;
  src: local(Cardo),
    url(/assets/fonts/common/Cardo/Cardo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Raleway;
  src: local(Raleway),
    url(/assets/fonts/common/Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: Athiti;
  src: local(Athiti),
    url(/assets/fonts/common/Athiti/Athiti-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Oswald;
  src: local(Oswald),
    url(/assets/fonts/common/Oswald/Oswald.ttf) format('truetype');
}
