<app-header [scrolledTheme]="true"></app-header>

<div class="block title-block">
  <h1>Elle a enfin dit oui !</h1>
  <div class="text-block">
    <p>Désormais, tu ne dois pas perdre de temps pour faire de cette journée, sa journée.</p>
    <p>La date est choisie, le domaine est réservé, mais dénicher le photographe qui va immortaliser la frénésie et
      l’ambiance de votre mariage n’est pas facile.</p>
    <p>Ça fait déjà 3 jours que tu cherches le bon photographe, que tu parcours tous les sites sur le sujet, tu n’y
      trouves pas ce que tu souhaites, tu en as marre. En plus, ils te promettent tous, les plus belles photos, les
      meilleurs souvenirs, les moments les plus magiques…</p>
    <p>Bref ! Va falloir te décider.</p>
  </div>
</div>

<div class="block second-block">
  <h1>Mais là, ce que tu veux savoir, c'est si je suis vraiment le bon...</h1>
  <div class="text-block">
    <p>
      Ma vision du mariage, c’est le partage, la famille et les amis. <br>
      Je veux que tu te lâches avec ton homme, que tu fasses la fête avec les convives, que ta famille pleurent de
      joie en te voyant dans ta robe.
    </p>
    <p>
      Pour immortaliser ces moments, nous devons avoir le feeling. J’ai besoin de bien vous connaître tous les deux,
      pour pouvoir savoir ce que vous voulez vraiment pour votre futur mariage.
    </p>
    <p>
      Cela t'enlèvera un poids, te permettra de m’oublier, de ne plus penser à moi, pour que tu puisses profiter
      pleinement de ton mariage.
    </p>
    <p>
      Le but, c’est de te voir t’amuser, chanter à tue-tête, danser jusqu'au bout de la nuit, sans que tu ne te
      préoccupes d’avoir telle ou telle image.
    </p>
  </div>
</div>
