<app-header [scrolledTheme]="true"></app-header>

<div class="block title-block">
  <h1>Elle a enfin dit oui !</h1>
  <div class="text-block">
    <p>
      Tout d'abord, je tiens à vous dire félicitations, et vous souhaite
      beaucoup de joie.
    </p>
    <p>
      Désormais, vous ne devez pas perdre de temps pour faire de cette journée,
      votre journée. La date est choisie, le domaine est réservé, et vous
      réfléchissez à comment immortaliser ce moment.
    </p>
    <p>
      Lorsqu'il s'agit de trouver un photographe de mariage, vous voulez vous
      assurer que vous trouvez quelqu'un qui puisse capturer les moments
      spéciaux et les souvenirs d'une journée inoubliable. En tant que
      photographe de mariage, je me considère comme un conteur d'histoires et je
      m'assure de pouvoir capturer chaque moment unique et magique de votre
      journée. Que celui-ci soit dans 3 mois ou dans 3 ans, n'importe où sur
      terre, sur mer ou sur mars.
    </p>
    <p>
      Je suis passionné par la capture des photos qui dégagent une atmosphère
      unique et magique. Je m'engage à créer une belle collection d'images qui
      rendront justice à votre journée de mariage et à vos souvenirs. Lorsque je
      travaille avec des clients, je prends le temps de les connaître afin de
      comprendre leurs goûts et leurs souhaits en matière de photos. Je m'assure
      de capturer des images qui captureront tous les moments spéciaux et les
      petits détails qui rendront votre journée mémorable.
    </p>
    <p>
      Je serai présent avant et pendant le mariage pour capturer les
      préparatifs, les portraits des mariés, la cérémonie, des moments entre les
      familles et amis et poursuivrai la journée jusqu'à la soirée et au moment
      où les mariés se retireront. Mon objectif est de capturer les moments les
      plus authentiques et significatifs de la journée, afin que les mariés
      puissent se souvenir de cette journée spéciale toute leur vie.
    </p>
    <p>
      Je travaille toujours pour créer une expérience agréable et amusante pour
      mes clients. Je m'assure de rester calme et à l'écoute de mes clients,
      afin que je puisse capter des images qui reflètent leurs émotions et leur
      personnalité. Je prends le temps de discuter avec mes clients et de
      m'assurer qu'ils sont à l'aise et heureux avec mes services.
    </p>
    <p>
      Je suis engagé à offrir à mes clients une expérience de qualité et je me
      concentre sur la création de photos qui resteront à jamais dans leurs
      mémoires. En tant que photographe de mariage, je fais mon possible pour
      capturer des images qui retracent l'amour et la magie de votre journée
      spéciale. Je suis honoré de pouvoir partager votre journée et je m'engage
      à capturer des photos qui resteront à jamais dans votre cœur.
    </p>
  </div>
</div>

<div class="container-banner">
  <img
    class="banner"
    src="https://i.goopics.net/9bvm0e.jpg"
    alt="Mathilde-maquillage-naturel-cheveux-fleurs-champetre"
  />
  <div class="title-banner">
    Des photos de mariage qui reflètent votre style
  </div>
</div>

<div class="block">
  <h2>Ce que j'ai à vous offrir</h2>
  <div class="text-block">
    <p>
      En tant que photographe de mariage, je suis plus qu'un professionnel. Je
      suis le meilleur ami des mariés. Je suis là pour aider à capturer les
      moments magiques et à les conserver pour les générations futures.
    </p>
    <p>
      Je travaille dur pour me familiariser avec vous avant votre mariage afin
      de mieux comprendre vos envies et vos besoins. Cela m'aide à capturer
      votre personnalité et à créer des souvenirs qui perdureront toute une vie.
    </p>
    <p>
      Je serai présent pour vous aider à planifier et à organiser votre journée,
      en vous soutenant à chaque étape. Je vous donnerai également des conseils
      sur la façon de gérer les moments difficiles et vous offrirai un album de
      mariage qui vous rappellera votre journée à jamais.
    </p>
    <p>
      Lorsque je photographie un couple marié, je m'assure de capturer leurs
      émotions et leurs plus beaux moments. Parfois, les couples sont si heureux
      qu'ils sont prêts à rire et à s'amuser. C'est pourquoi je fais tout mon
      possible pour les amener à rire et à s'amuser. Je leur fais des blagues,
      je les encourage à danser et à bouger, et je les pousse à se relaxer et à
      profiter de l'instant. Je sais que les moments les plus mémorables sont
      ceux que vous pouvez regarder et dire «Ah, je me souviens de cette
      fois-là». Mon objectif est donc de capturer ces moments d'amusement et de
      rire afin que vous puissiez les revivre chaque fois que vous regardez vos
      photos.
    </p>
    <p>
      Même si mon travail consiste à capturer des photos formelles, je suis
      aussi là pour vous faire rire et vous amener à vous amuser. Je me
      concentre sur l'instant présent, vous rassurant et vous faisant oublier
      les tensions qui accompagnent souvent un mariage.
    </p>
  </div>
</div>

<div class="image-mosaic">
  <img class="card card-tall" src="https://i.goopics.net/k2d2xz.jpg" alt="clemence-louise-perquette-bellengreville-fenetre-bébé-noir-blanc">
  <img class="card card-tall card-wide" src="https://i.goopics.net/ghd675.jpg" alt="anais-jeremy-couple-sourire-pose-tableau-heureux-noir-blanc.jpg">
  <img class="card card-tall" src="https://i.goopics.net/tfvm2o.jpg" alt="Mathilde-enfant-joie-amour-complicite-rire-maman-famille">
  <img class="card" src="https://i.goopics.net/ekhrwn.jpg" alt="jeremy-habillage-tenue-mariage-homme-habit-noeud-papillon-champetre">
  <img class="card" src="https://i.goopics.net/f35f5h.jpg" alt="anais-essayage-robe-mariée-dentelle-chateau-tableau-noir-blanc-princesse">
  <img class="card card-tall card-wide" src="https://i.goopics.net/dog9kc.jpg" alt="Mathilde-famille-maman-fille-telephone-boquet-sourire-joie">
  <img class="card" src="https://i.goopics.net/2gvo7c.jpg" alt="Mathilde-enfant-fils-garcon-petit">
  <img class="card" src="https://i.goopics.net/8q6yv6.jpg" alt="anais-coiffure-mariage-cheveux-long-maison-de-la-coiffure-bretteville-sur-laize">
</div>
