<!-- MENU -->
<app-header [scrolledTheme]="true"></app-header>

<section class="if-you-are-here">
  <div class="sensitivity">
    <div class="text">
      <h1>Photographe de Mariage à Rennes</h1>
      <h2>Immortalisez votre mariage en Bretagne</h2>

      <p>
        Vous allez bientôt vous <strong>mariez</strong> et vous commencez vos <strong>préparatifs</strong> ? Félicitations ! Je parie que
        vous avez des tas de questions en tête :
      </p>
      <ul>
        <li>
          <a [href]="linkChoosePhotographer"><strong>Comment choisir le bon photographe ?</strong></a>
        </li>
        <li>
          <a [href]="linkDayAfter"><strong>Qu'est-ce qu'une séance photo "Day After" ?</strong></a>
        </li>
        <li>
          <a [href]="linkWeddingKit"><strong>Quels sont les accessoires à avoir le Jour-J ?</strong></a>
        </li>
      </ul>
      <p>
        En tant que <strong>photographe de mariage à Rennes</strong>, je me suis donné un mission : vous aider à
        <strong>immortaliser chaque instant</strong> de cette journée.
      </p>
      <p>
        Je privilégie un style de <strong>reportage photo de mariage</strong> qui me permet de me faire <strong>discret</strong> tout en
        capturant les <strong>émotions authentiques</strong>. Vous pourrez profiter pleinement de votre journée, et moi, je serai là pour
        documenter ces <strong>précieux souvenirs</strong>, des regards complices aux éclats de rire partagés.
      </p>
      <p>
        Je crois fermement que le <strong>feeling</strong> est essentiel. C’est pourquoi j’aime établir un véritable
        <strong>lien</strong> avec mes couples. Je veux que vous vous sentiez à l’aise devant l’<strong>objectif</strong>, afin que vos
        <strong>photos</strong> soient le reflet sincère de votre <strong>amour</strong>.
      </p>

      <p>
        Si vous êtes à la recherche d’un <strong>photographe</strong> qui comprend vos <strong>attentes</strong> et qui est attentif à vos
        <strong>besoins</strong>, je serais ravi d’échanger avec vous. N’hésitez pas à me <strong>contacter dès maintenant</strong> !
        Ensemble, faisons de votre <strong>mariage</strong> un jour inoubliable.
      </p>

      <div class="flex content-center">
        <a
          class="button button-outline cta-about"
          target="_blank"
          href="https://calendly.com/dylanbonneau/appel-telephonique"
          rel="noopener noreferrer">
          Je te veux à mon mariage !
        </a>
      </div>
    </div>
    <div class="img">
      <img
        class="its-me"
        src="https://i.postimg.cc/SK0Y0wYJ/couple-elegant-costume-robe-homme-femme-porte-chateau.webp"
        alt="couple-elegant-costume-robe-homme-femme-porte-chateau" />
    </div>
  </div>
</section>

<div class="container-banner mt-0">
  <img
    src="https://i.postimg.cc/3wB8L6XM/enfants-herbe-bretelle-allonge-cuire-chemise.webp"
    alt="enfants-herbe-bretelle-allonge-cuire-chemise"
    class="full-size" />
  <p class="top-left">
    <i>
      Pour votre <strong>mariage à Rennes</strong> et autour, offrez-vous un reportage photo qui reflète votre amour et votre complicité.
    </i>
  </p>
</div>

<section>
  <div class="text two-flex-blocs">
    <div>
      <h2>Photographe mariage Rennes</h2>
      <p>
        Vous envisagez de célébrer votre <strong>mariage</strong> à <strong>Rennes</strong> ou dans une autre belle région du
        <strong>grand Ouest</strong> de la <strong>France</strong> ? Avez-vous déjà pensé à la façon dont vous souhaitez immortaliser chaque
        moment de cette <strong>journée exceptionnelle</strong> ? Que vous soyez amoureux des <strong>paysages bretons</strong>, des
        <strong>ruelles historiques de Rennes</strong>, ou des <strong>plages de la Normandie</strong>, chaque lieu offre un cadre unique
        pour un <strong>reportage photo de mariage</strong> inoubliable.
      </p>
      <img
        class="full-size"
        src="https://i.postimg.cc/VNY1bR3K/mere-enfant-baiser-bisous-fenetre-noir-et-blanc.webp"
        alt="mere-enfant-baiser-bisous-fenetre-noir-et-blanc" />
    </div>
    <div>
      <img
        class="full-size"
        src="https://i.postimg.cc/zfKX51yc/couple-elegant-parapluie-pluie-goutte-verdure-arbre-mariage.webp"
        alt="couple-elegant-parapluie-pluie-goutte-verdure-arbre-mariage" />
      <h3>Un cadre idéal à Rennes et en Ille-et-Vilaine</h3>
      <p>
        <strong>Rennes</strong>, la capitale de l’<strong>Ille-et-Vilaine</strong>, regorge de <strong>lieux de caractère</strong> pour
        célébrer votre union. Que ce soit dans un charmant <strong>manoir</strong>, un <strong>domaine</strong>, ou même en plein air dans
        l’un des nombreux <strong>parcs</strong> de la ville, vous trouverez des décors qui parlent à votre cœur. En tant que
        <strong>photographe de mariage à Rennes</strong>, je me fais discret pour capturer les moments les plus importants pour vous. Mon
        objectif est de raconter votre histoire à travers des <strong>images naturelles</strong> et <strong>spontanées</strong> qui
        reflètent l’<strong>authenticité</strong> de votre journée.
      </p>
      <p>
        Que vous souhaitiez vous rendre sur une <strong>plage de la Côte d’Émeraude</strong>, explorer la
        <strong>nature verdoyante</strong> des environs de <strong>Rennes</strong>, ou flâner dans les <strong>rues pittoresques</strong> du
        centre-ville, je serai là pour capturer ces <strong>moments de tendresse</strong>. La
        <strong>photographie de mariage Bretagne</strong> est riche en <strong>décors variés</strong>, et chaque séance sera l’occasion
        d’immortaliser votre <strong>amour</strong> dans un cadre qui vous ressemble.
      </p>
    </div>
  </div>
</section>

<section class="it-was-in">
  <div class="text">
    <h2>La magie de la Bretagne et de la Normandie</h2>
    <p>
      La Bretagne est renommée pour ses <strong>paysages</strong> à couper le souffle, ses <strong>côtes sauvages</strong> et son riche
      <strong>patrimoine culturel</strong>. Que vous choisissiez un <strong>mariage</strong> au bord de la mer à
      <strong>Saint-Malo</strong>, ou une célébration dans les paysages verdoyants de <strong>Dinan</strong>, la Bretagne offre une
      multitude d’options pour des <strong>photos mémorables</strong>. De même, le <strong>Calvados</strong> et la
      <strong>Normandie</strong> présentent des lieux enchanteurs, des <strong>plages</strong> de <strong>Deauville</strong> aux charmantes
      rues de <strong>Caen</strong>, parfaits pour des séances photo pleines de <strong>romantisme</strong>.
    </p>
    <p>
      Imaginez-vous, en tant que <strong>mariés</strong>, déambulant main dans la main sur une <strong>plage normande</strong> au coucher de
      soleil, ou partageant un moment complice dans un vieux <strong>château breton</strong>. Ces images sont celles que vous souhaiterez
      chérir pour toujours. En tant que <strong>photographe mariage Bretagne</strong> et <strong>Normandie</strong>, je suis là pour
      m’assurer que chaque moment, chaque regard partagé, soit capturé avec soin et sensibilité.
    </p>
    <p>
      Si vous êtes prêts à discuter de votre <strong>mariage</strong>, n’hésitez pas à me contacter dès aujourd’hui. Ensemble, nous créerons
      des <strong>souvenirs inoubliables</strong> que vous chérirez toute votre vie.
    </p>

    <div class="flex content-center">
      <a
        class="button cta-about white-color"
        target="_blank"
        href="https://calendly.com/dylanbonneau/appel-telephonique"
        rel="noopener noreferrer">
        Discutons de votre projet
      </a>
    </div>
  </div>
</section>

<section>
  <div class="text">
    <h2>De la première rencontre à l'album final : Un suivi complet</h2>
    <p>
      En tant que <strong>photographe de mariage</strong>, j'offre un <strong>accompagnement personnalisé</strong> qui commence bien avant
      le jour J. Mon approche se base sur l'<strong>écoute</strong> de vos <strong>besoins spécifiques</strong>, de vos
      <strong>préférences</strong> et de vos <strong>rêves</strong> pour cette journée unique. Je m'engage à être à vos côtés à chaque
      étape, en vous proposant des <strong>conseils sur-mesure</strong> pour que tout se déroule comme vous l'avez imaginé. Mon but est de
      vous aider à vous sentir <strong>confiants</strong> et <strong>sereins</strong> devant l'objectif, afin que vos photos reflètent votre
      <strong>amour</strong> et votre <strong>complicité</strong> de manière authentique.
    </p>
  </div>
  <ul class="list-actions">
    <li>
      <h3>Avant le mariage</h3>
      <img
        class="img"
        src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTRkZWU2Y3I3M240ZWg5aTNpY2dveTdqeXgxZnV3dG5mcjIxcHRsbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0Iy0jZ96dgCuZCE0/giphy.webp"
        alt="courrir_jogging_parc_cafe" />
      <p>
        En tant que <strong>photographe de mariage à Rennes</strong>, je suis là pour vous accompagner avant le
        <strong>grand jour</strong> et vous offrir une <strong>préparation sereine</strong>. Lors de notre première rencontre, nous
        parlerons de vos <strong>envies</strong> et de vos <strong>rêves</strong> pour créer une vraie <strong>connexion</strong>. Vous avez
        des <strong>idées</strong> en tête ou des <strong>questions</strong> ? Partagez-les avec moi ! Je propose également une
        <strong>séance photo fiançaille</strong> pour vous détendre devant l'objectif et capturer des <strong>moments authentiques</strong>.
        Et pour que tout soit parfait, nous planifions ensemble chaque <strong>instant clé</strong> de votre journée, afin que vous puissiez
        vivre votre <strong>mariage</strong> pleinement et sans stress.
      </p>
    </li>
    <li>
      <h3>Pendant le mariage</h3>
      <img
        class="img"
        src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYm13MGtpYXd3aHFiYWMwY2d3Y3p2MHVmaXV0cmU2dG5vMDR6YWxmcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XH3jHyWBXOQBifW6Fe/giphy.webp"
        alt="courrir_jogging_parc_cafe" />
      <p>
        Pendant votre <strong>mariage</strong>, je capture l’essence de votre journée en toute <strong>discrétion</strong>, avec un
        <strong>reportage photo naturel et spontané</strong>. Mon approche me permet de saisir chaque <strong>émotion</strong> sans
        perturber vos moments précieux. Que ce soit pour immortaliser un <strong>regard complice</strong>, des <strong>rires</strong> ou des
        <strong>larmes de joie</strong>, mon objectif est de raconter votre histoire de manière authentique. Je prends également le temps de
        réaliser des <strong>portraits de couple</strong> et des <strong>photos de groupe</strong> pour que chaque instant soit gravé à
        jamais.
      </p>
    </li>
    <li>
      <h3>Après le mariage</h3>
      <img
        class="img"
        src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExczhoZG0yYTljeTY5ejg3cHZ6cjM0MGlzYjB5Yjh1MDV3eXFoYmV1OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TrzZiM8W5fdEqd7WvV/giphy.webp"
        alt="courrir_jogging_parc_cafe" />
      <p>
        Après votre <strong>mariage</strong>, mon engagement continue ! <strong>Retouche</strong> minutieuse des photos et
        <strong>livraison</strong> d’un album photo et de fichiers numériques sont inclus. Pour prolonger la magie, je propose une
        <strong>séance photo “day after”</strong> dans la <strong>région de Rennes</strong>. Profitez d’un moment détendu pour capturer des
        images uniques dans des décors variés. Que ce soit sur la <strong>Côte d’Émeraude</strong>, en pleine nature, ou en ville, ces
        photos seront un précieux souvenir de votre amour. N’hésitez pas à envisager cette option pour enrichir vos
        <strong>souvenirs</strong> !
      </p>
    </li>
  </ul>
</section>

<section class="values">
  <div class="text">
    <h2>Un accompagnement personnalisé pour chaque étape de votre mariage</h2>

    <div class="steps-bloc">
      <div class="illustration">
        <span class="number"> {{ selectedStep?.id }} </span>
        <img
          class="full-size"
          [src]="selectedStep?.illustration ?? ''"
          alt="" />
      </div>
      <div class="steps mt-xxl">
        <ul>
          @for (step of steps | slice: 0 : 4; let index = $index; track step) {
            <li [class.text-bold]="selectedStepIndex >= index">{{ step?.id }}. {{ step?.title }}</li>
          }
        </ul>
        <ul>
          @for (step of steps | slice: 4 : 8; let index = $index; track step) {
            <li [class.text-bold]="selectedStepIndex >= index + 4">{{ step?.id }}. {{ step?.title }}</li>
          }
        </ul>
      </div>
    </div>

    <p class="mt-xxl">
      Pour garantir que chaque aspect de votre <strong>mariage</strong> soit capturé avec soin et attention, je vous propose un
      <strong>accompagnement complet</strong> tout au long de vos <strong>préparatifs</strong>. Mon objectif est de rendre chaque étape de
      votre <strong>voyage</strong> vers le grand jour aussi sereine et mémorable que possible. De la première
      <strong>consultation personnalisée</strong> à la <strong>saison photo “day after”</strong>, découvrez comment mon approche vous
      permettra de vivre chaque moment avec confiance et plaisir, tout en créant des <strong>souvenirs inoubliables</strong>.
    </p>
  </div>

  <ul class="list-actions">
    <li>
      <img
        class="img"
        [src]="getStep(EStep.CONSULTATION)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Consultation personnalisée</h3>
      <p>
        Tout commence par une <strong>consultation</strong> où nous prenons le temps de discuter de vos <strong>attentes</strong>, de vos
        <strong>envies</strong> et du <strong>style de mariage</strong> que vous souhaitez. Que vous souhaitiez une
        <strong>cérémonie intime</strong> ou une <strong>grande fête</strong>, je m'efforce de comprendre votre <strong>vision</strong>.
        Cette étape est cruciale pour établir un <strong>lien de confiance</strong> et pour que vous vous sentiez à l’aise avec moi le
        <strong>jour J</strong>.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.FIANCAILLE)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Séance photo Fiançaille</h3>
      <p>
        Je vous propose également une <strong>séance photo fiançailles</strong> vous permettra de vous familiariser avec l’appareil photo et
        de vous détendre devant l’objectif. C’est excellente occasion de capturer des moments de <strong>complicité</strong> dans un cadre
        qui vous ressemble, que ce soit à <strong>Rennes</strong> ou dans les <strong>paysages environnants</strong>. Ces
        <strong>photos</strong> serviront non seulement à annoncer votre <strong>mariage</strong>, mais aussi à vous faire sentir plus à
        l’aise lors de la journée de <strong>célébration</strong>.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.PLANNING)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Planification des moments clés</h3>
      <p>
        Nous travaillons ensemble pour élaborer un <strong>planning</strong> des <strong>moments clés</strong> que vous souhaitez
        <strong>immortaliser</strong> le jour de votre <strong>mariage</strong>. Qu’il s’agisse des <strong>préparatifs</strong>, de la
        <strong>cérémonie</strong> ou de la <strong>réception</strong>, nous nous assurons que chaque <strong>instant important</strong> est
        bien prévu afin que rien ne soit oublié.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.DISCRET)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Un service de reportage photo discret</h3>
      <p>
        Je crois en un <strong>reportage photo de mariage </strong><strong>naturel</strong> et <strong>discret</strong>. Mon approche
        consiste à se fondre pour capturer des <strong>moments authentiques</strong> sans perturber le déroulement de votre journée. Des
        <strong>éclats de rire</strong> aux <strong>larmes de joie</strong>, chaque <strong>émotion</strong> sera soigneusement
        immortalisée.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.MOMENTS)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Photographie de moments clés</h3>
      <p>
        Que votre cérémonie soit <strong>laïque</strong>, <strong>religieuse</strong> ou <strong>civile</strong>, je suis là pour documenter
        chaque instant. Je sais que ce sont souvent les <strong>petits détails</strong> (un regard échangé, une main qui se serre) qui
        rendent ces moments si spéciaux. Mon objectif est de vous offrir un <strong>reportage photo mariage</strong> qui raconte votre
        <strong>histoire</strong> de manière <strong>authentique</strong>.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.GROUPE)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Portraits de couple et photos de groupe</h3>
      <p>
        Je prends également le temps de réaliser des <strong>portraits de couple</strong> durant votre réception ou à un moment qui vous
        convient. Je vous guiderai pour créer des <strong>poses naturelles</strong> et des <strong>photos romantiques</strong> tout en
        capturant la <strong>beauté de votre lieu de mariage</strong>. Les <strong>photos de groupe</strong> sont également importantes, et
        j'organise cela de manière <strong>fluide</strong> pour que vous puissiez profiter de chaque instant avec vos invités.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.RETOUCHE)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Retouche et livraison des photos</h3>
      <p>
        Après votre mariage, je me mets à la <strong>retouche</strong> de vos photos. Chaque <strong>image</strong> est soigneusement
        <strong>sélectionnée</strong> et <strong>retouchée</strong> pour garantir la meilleure <strong>qualité</strong>. Je vous livre
        ensuite un <strong>album photo de mariage</strong> ainsi que des <strong>fichiers numériques</strong> dans un délai convenu.
        L'<strong>album</strong> est un véritable <strong>trésor</strong>, un <strong>héritage</strong> que vous pourrez transmettre à votre
        <strong>famille</strong> et <strong>amis</strong>.
      </p>
    </li>
    <li>
      <img
        class="img"
        [src]="getStep(EStep.AFTER)?.illustration ?? ''"
        alt="courrir_jogging_parc_cafe" />
      <h3>Séance photo Day after</h3>
      <p>
        Pour ceux qui souhaitent prolonger l’expérience et capturer encore plus de <strong>souvenirs</strong>, j’effectue une
        <strong>séance photo “day after”</strong> dans la belle région de <strong>Rennes</strong>. Cette séance est une occasion parfaite
        pour <strong>revivre la magie de votre mariage</strong>, mais cette fois-ci sans la <strong>pression</strong> et le
        <strong>stress du jour J</strong>. Vous pourrez vous <strong>détendre</strong> et vous amuser tout en créant des
        <strong>images uniques</strong> et <strong>intemporelles</strong> qui mettront en valeur votre <strong>complicité</strong>.
      </p>
    </li>
  </ul>
</section>

<section>
  <h2>Ce que comprend chaque formule</h2>

  <div class="text">
    <p>
      Choisir la <strong>formule</strong> qui correspond à vos <strong>besoins</strong> pour votre mariage est essentiel, mais il est tout
      aussi important de comprendre ce qui est inclus dans chacune d’elles. Voici un aperçu des <strong>éléments</strong> qui constituent le
      <strong>tronc commun</strong> de toutes mes formules, garantissant ainsi une <strong>expérience complète</strong> et
      <strong>satisfaisante</strong> :
    </p>
  </div>
  <div class="text">
    <div class="includes">
      <h3>Ce que comprend chaque formule</h3>
      <ul>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Nos échanges avant et après le Mariage</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Ma présence le Jour du Mariage</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Le post traitement des photos</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Un coffret avec une clé USB</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Séance fiançaille</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Album photo de mariage</span>
        </li>
        <li class="flex align-items-center">
          <em class="icon icon-check font-size-xl"></em>
          <span>Conservation de vos photographies de mariage (1 an)</span>
        </li>
      </ul>
      <div class="flex content-center">
        <a
          class="button white-color cta-about"
          target="_blank"
          href="https://calendly.com/dylanbonneau/appel-telephonique"
          rel="noopener noreferrer">
          Parlons de votre projet
        </a>
      </div>
    </div>
  </div>
</section>

<section class="its-your-turn">
  <div class="text">
    <h2>Maintenant, c'est à <span class="primary-color">votre tour</span> de vous dévoiler.</h2>
    <p>
      Je vous ai parlé de moi, de comment je travaille, mais je ne sais encore rien de vous. <strong>Racontez-moi</strong> comment vous vous
      êtes rencontré. <strong>Dites-moi</strong> qui a fait le premier bisou. <strong>Je veux en savoir</strong> plus sur vous.
      <strong>Prenons le temps d'échanger</strong> autour d'un café, d'un thé ou pourquoi pas une bonne bière.
    </p>
  </div>
  <a
    class="button primary-color is-medium"
    target="_blank"
    href="https://calendly.com/dylanbonneau/appel-telephonique"
    rel="noopener noreferrer">
    Prenons le temps d'échanger
  </a>
</section>

<app-footer></app-footer>
