@use "variables";

:host {
  display: block;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  word-wrap: break-word;
  flex-basis: 100%;
  flex-shrink: 0;
}

.welcome {
  min-height: auto;
  height: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: column-reverse;

  .media {
    .img {
      width: 100%;

      @media screen and (min-width: 768px) {
        min-width: 474px;
        max-width: 700px;
      }
    }

    @media screen and (min-width: 768px) {
      overflow: hidden;
      flex-basis: 40%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 24px;

    h1 {
      text-align: start;
      font-size: 54px;
      line-height: 1.2;
      font-weight: 700;
      word-wrap: break-word;
    }

    @media screen and (min-width: 768px) {
      flex-basis: 60%;

      h1,
      p {
        margin-left: 25%;
        margin-right: 25%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.if-you-are-here {
  min-height: auto;
  padding-bottom: 150px;
}

.sensitivity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .img {
    padding: 24px;

    .its-me {
      width: 100%;
      height: 100%;

      @media screen and (min-width: 1280px) {
        width: 500px;
      }
    }

    img {
      height: 100vh;
      max-width: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 600px) {
    padding-top: 0;
    .img {
      padding: 0;

      img {
        margin: 80px 0 30px 0;
        max-width: none;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;

    .img {
      img {
        margin: 0 0 30px 24px;
      }
    }
  }
}

.text {
  max-width: 1200px;
  text-align: justify;

  @media screen and (min-width: 1280px) {
    padding: 30px;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.it-was-in {
  background-color: var(--secondary);
  color: var(--white);
  clip-path: polygon(0 0, 100% 0%, 100% 99%, 0% 100%);
}

.its-your-turn {
  min-height: auto;
  padding-bottom: 5rem;
}

ul {
  list-style: none;
}

.cta-about {
  text-align: center;
  padding: 0.938rem 2.188rem;
  font-size: 1.563rem;
  margin: 24px 0;
}

.list-actions {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  max-width: 1500px;

  li {
    width: 300px;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 200px;
    }

    h3 {
      font-size: 24px;
      &:after {
        content: "";
        position: relative;
        left: 50%;
        top: 20px;
        display: block;
        width: 40px;
        height: 1px;
        background: var(--black);
      }
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }

    @media screen and (min-width: 768px) {
      padding: 24px;
    }
  }
}

.steps-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
}

.illustration {
  height: 150px;
  width: 150px;
  background-color: var(--grey-f);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    height: 250px;
    width: 250px;
  }

  .number {
    font-size: 2rem;
    font-family: Oswald;
    color: var(--grey-9);

    @media screen and (min-width: 768px) {
      margin-left: 32px;
    }
  }
}

.steps {
  display: flex;
  flex-wrap: wrap;
  

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.step-description-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;

    &.reverse {
      flex-direction: row-reverse;
    }
  }
}

.step-description {
  flex: 1;
  padding-top: 56px;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.container-banner {
  img {
    object-fit: cover;
    max-height: calc(100vh - 105px);
    height: 100vh;
    object-position: 27% 30%;
  }
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  max-width: 600px;
  text-align: start;
}

.two-flex-blocs {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;

    div  {
      padding: 24px;
    }
  }
}

.includes {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  
  color: var(--white);

  & ul {
    padding: 24px;
  }

  @media screen and (min-width: 768px) {
    border-radius: 15px;
    padding: 16px;
  }
}

.formules {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 0 24px;
  }
}