<!-- MENU -->
<app-header [scrolledTheme]="true"></app-header>

<article>
  <img
    class="mb-xl img-title"
    src="https://i.postimg.cc/sgrxHX6N/Mathilde-maquillage-naturel-cheveux-fleurs-champetre.webp"
    alt="blog-Mathilde-maquillage-naturel-cheveux-fleurs-champetre" />

  <h1
    class="title with-subtitle"
    data-title="la checklist pour un mariage sans stress">
    kit de survie : le guide pour votre mariage
  </h1>
  <span class="date">30 Août 2023</span>

  <div>
    <p>
      Pour vous aider à naviguer dans l'aventure du mariage, j'ai élaboré un kit de survie pour votre mariage : une checklist complète pour
      vous guider tout au long du processus. Peu importe si vous prévoyez une cérémonie intime ou une grande célébration, cette checklist
      vous permettra d'aborder votre grand jour avec confiance et sérénité.
    </p>
  </div>

  <div class="block">
    <div class="fixed-div">
      <div class="sticky_div">
        <div class="large bold">Table des Matières</div>
        <div
          id="toc"
          class="toc">
          <a
            class="tocitem"
            [class.active]="mouchoirsIsActive"
            (click)="scroll(mouchoirs)"
            >Des mouchoirs</a
          >
          <a
            class="tocitem"
            [class.active]="deodorantIsActive"
            (click)="scroll(deodorant)"
            >Du déodorant</a
          >
          <a
            class="tocitem"
            [class.active]="trousseIsActive"
            (click)="scroll(trousse)"
            >Une minie trousse de premiers soins</a
          >
          <a
            class="tocitem"
            [class.active]="chaussuresIsActive"
            (click)="scroll(chaussures)"
            >Des chaussures de rechange</a
          >
          <a
            class="tocitem"
            [class.active]="ravitaillementIsActive"
            (click)="scroll(ravitaillement)"
            >Un Ravitaillement Stratégique</a
          >
          <a
            class="tocitem"
            [class.active]="eventailIsActive"
            (click)="scroll(eventail)"
            >L'Éventail</a
          >
          <a
            class="tocitem"
            [class.active]="parapluieIsActive"
            (click)="scroll(parapluie)"
            >Le parapluie de couleur</a
          >
          <a
            class="tocitem"
            [class.active]="prestatairesIsActive"
            (click)="scroll(prestataires)"
            >La liste des prestataires</a
          >
          <a
            class="tocitem"
            [class.active]="conclusionIsActive"
            (click)="scroll(conclusion)"
            >Votre compagnon indispensable</a
          >
        </div>
      </div>
    </div>
    <div class="content">
      <div #mouchoirs>
        <h3>Des mouchoirs : Pour essuyer vos larmes de joie</h3>

        <p>
          Si je devais ne garder qu'un seul accessoire dans ce kit, c'est bien le paquet de mouchoirs. Entre le moment où vous allez voir
          votre partenaire vêtu de son plus beau costume ou de sa magnifique robe, l'échange de vœux, les discours, ... Vous aurez plusieurs
          occasions de verser des larmes le jour de votre mariage. En prévoyant des mouchoirs dans votre kit de survie mariage, vous serez
          prêts à affronter tous ces moments chargés d'émotions.
        </p>

        <img
          src="https://i.postimg.cc/wxCdFNth/pleure-joie-mouchoirs-larmes-mariage-femmes-amour.webp"
          alt="pleure-joie-mouchoirs-larmes-mariage-femmes-amour" />
      </div>

      <div #deodorant>
        <h3>Le déodorant : Une armure contre le stress et la chaleur</h3>

        <p>
          L'une des clés pour profiter pleinement de votre journée est d'avoir confiance en vous. Un déodorant fiable vous offre cette
          assurance en éliminant les inquiétudes concernant les odeurs potentielles. Que vous dansiez, que vous saluiez vos invités ou que
          vous vous promeniez dans le lieu de réception, le déodorant agit comme une bouffée d'air frais à chaque mouvement.
        </p>

        <h4>Petite astuce</h4>
        <p>
          Gardez-le à Portée de Main : Glissez votre déodorant dans votre sac de mariage ou confiez-le à l'une de vos demoiselles d'honneur
          pour des retouches rapides pendant la journée.
        </p>
      </div>

      <div #trousse>
        <h3>Minie trousse de premiers soins</h3>

        <p>
          La minie trousse de premiers soins est comme une super-héroïne discrète qui peut venir à la rescousse en cas de besoin. Voici ce
          que vous devriez avoir à portée de main :
        </p>

        <ul class="list mb-xl">
          <li>
            <strong>Pansements et Bandages</strong> : Des ampoules aux petites coupures, les pansements sont vos meilleurs amis pour assurer
            un confort optimal.
          </li>
          <li>
            <strong>Désinfectant</strong> : Un désinfectant pour les mains ou des lingettes antibactériennes peuvent aider à garder les
            mains propres et prévenir les infections.
          </li>
          <li>
            <strong>Antalgiques</strong> : Avoir quelques médicaments en vente libre comme le paracétamol ou l'ibuprofène peut soulager les
            maux de tête inattendus.
          </li>
          <li>
            <strong>Antihistaminiques</strong> : En cas de réaction allergique mineure, un antihistaminique peut aider à calmer les
            symptômes.
          </li>
          <li>
            <strong>Pince à épiler et ciseaux</strong> : Ces outils peuvent être utiles pour retirer des échardes, couper un fil lâche ou
            même réparer rapidement un accroc sur une tenue.
          </li>
          <li>
            <strong>Crème solaire</strong> : Si vous avez une cérémonie en extérieur, une crème solaire légère peut vous protéger des coups
            de soleil.
          </li>
          <li><strong>Miroir de poche</strong> : Pour des retouches de maquillage ou de coiffure rapides.</li>
          <li><strong>Bandes anti-ampoules</strong> : Appliquez-les sur les zones à risque avant même que les ampoules ne se forment.</li>
          <li>
            <strong>Pommade anti-frottement</strong> : Pour réduire le frottement entre la peau et les chaussures, surtout si vous portez
            des chaussures neuves.
          </li>
        </ul>

        <img
          src="https://i.postimg.cc/Lss1v5hM/pinceaux-90-maquillage-outils-beaute-mariage-trousse.webp"
          alt="pinceaux-90-maquillage-outils-beaute-mariage-trousse" />
      </div>

      <div #chaussures>
        <h3>Des chaussures de rechange</h3>

        <p>
          Si vous avez opté pour des chaussures à talons hauts pour la cérémonie et la réception, les chaussures de rechange peuvent offrir
          un soulagement bienvenu. Les talons hauts peuvent ajouter de la sophistication à votre tenue, mais il n'y a aucune honte à vouloir
          un peu de confort après avoir passé des heures debout. Glissez-vous dans des chaussures plates lorsque vos pieds commencent à
          montrer des signes de fatigue pour maintenir votre énergie et votre sourire.
        </p>

        <img
          src="https://i.postimg.cc/wxksKDJd/chaussure-rechange-pied-mariee-habillage-cendrillon.webp"
          alt="chaussure-rechange-pied-mariee-habillage-cendrillon" />
      </div>

      <div #ravitaillement>
        <h3>Un ravitaillement stratégique</h3>

        <p>
          Le mariage, surtout lorsque c'est le vôtre est un évenement qui demande beaucoup d'énergie. La bouteille d'eau devient votre
          alliée pour garder votre corps et votre esprit frais tout au long de la journée. Que ce soit pour apaiser la nervosité de la
          cérémonie ou pour vous rafraîchir entre les séances de photos, une gorgée d'eau peut tout changer. Associée à cela, une ou deux
          barres énergétiques et vous serait revigoré pour combattre les creux de milieu de journée et rester sur la piste de danse jusqu'au
          bout de la nuit.
        </p>
      </div>

      <div #eventail>
        <h3>L'Éventail : votre arme secrète contre la chaleur</h3>

        <p>
          Lorsque vous imaginez votre mariage, vous visualisez probablement une journée ensoleillée avec un ciel bleu et des sourires
          éclatants. Cependant, la réalité peut parfois jouer des tours, et une chaleur inattendue peut s'inviter à la fête. Que votre
          cérémonie ait lieu en extérieur ou que vous soyez en train de prendre des photos sous le soleil, la chaleur peut rapidement
          devenir un défi.
        </p>

        <img
          src="https://i.postimg.cc/9QxQ1BvL/lunette-soleil-chaleur-femme-sourire-ete-estival.webp"
          alt="lunette-soleil-chaleur-femme-sourire-ete-estival" />
      </div>

      <div #parapluie>
        <h3>Le parapluie de couleur</h3>

        <p>
          Dans la grande aventure qu'est la planification d'un mariage, il est crucial de se préparer à toutes les éventualités, y compris
          les caprices de la météo. Choisissez une couleur qui correspond à votre thème de mariage ou à vos couleurs préférées. Un parapluie
          bien choisi peut également servir de toile de fond intéressante pour vos séances de photos, ajoutant de la profondeur et de la
          créativité à vos souvenirs.
        </p>

        <img
          src="https://i.postimg.cc/zfKX51yc/couple-elegant-parapluie-pluie-goutte-verdure-arbre-mariage.webp"
          alt="couple-elegant-parapluie-pluie-goutte-verdure-arbre-mariage" />
      </div>

      <div #prestataires>
        <h3>Liste des prestataires</h3>

        <p>
          Imaginez que votre fleuriste doit apporter des arrangements floraux à la salle de réception, mais il a du mal à trouver l'endroit.
          Vous avez énormément de chose à penser le jour de votre mariage, et cela pourrait être une préoccupation supplémentaire dont vous
          n'avez pas besoin. En ayant une liste détaillée de tous les prestataires avec leurs noms, numéros de téléphone et rôles, vous
          pouvez résoudre ces problèmes rapidement et efficacement.
        </p>

        <h4>Que doit comprendre votre liste des prestataires ?</h4>

        <ul class="list mb-xl">
          <li>
            <strong>Nom et Coordonnées</strong> : Incluez le nom complet de chaque prestataire ainsi que son numéro de téléphone. Cela
            facilite les contacts en cas de besoin.
          </li>
          <li>
            <strong>Rôle Spécifique</strong> : Indiquez ce que chaque prestataire est responsable de fournir. Que ce soit le traiteur, le
            photographe, le DJ ou le vidéaste, notez leurs tâches spécifiques.
          </li>
          <li>
            <strong>Horaire</strong> : Mentionnez l'heure à laquelle chaque prestataire est censé arriver et partir. Cela aidera à
            coordonner les activités de la journée.
          </li>
          <li>
            <strong>Contact d'Urgence</strong> : Si possible, fournissez un contact d'urgence pour chaque prestataire au cas où le
            prestataire principal serait injoignable.
          </li>
        </ul>

        <img
          src="https://i.postimg.cc/Qxfqg2xw/liste-prestataires-nom-coordonnes-role-horaire-contact.webp"
          alt="liste-prestataires-nom-coordonnes-role-horaire-contact" />

        <h4>Comment utiliser votre liste des prestataires ?</h4>

        <p>
          Répétez-le à votre coordinateur de mariage : Si vous avez un coordinateur de mariage, partagez la liste avec lui/elle. Cela lui
          permettra de gérer les communications et de résoudre les problèmes à votre place.
        </p>

        <p>
          Partagez-le avec votre famille proche : Informez vos parents, vos témoins ou d'autres membres de la famille proche de l'existence
          de cette liste. En cas de besoin, ils pourront également contacter les prestataires en votre nom.
        </p>

        <p>
          Gardez-le sur vous : Ayez une copie imprimée de la liste avec vous le jour du mariage. Vous pourrez y jeter un coup d'œil
          rapidement si nécessaire.
        </p>
      </div>

      <div #conclusion>
        <h3>Votre compagnon indispensable pour le Jour J</h3>

        <p>
          En résumé, le kit de survie pour votre mariage se révèle être bien plus qu'une simple collection d'article indispensable. C'est
          comme un compagnon qui veille à ce que chaque moment de votre journée soit vécu avec confiance et tranquillité d'esprit. En
          choisissant avec soin les articles à inclure dans votre kit, vous prenez des mesures pour anticiper les petits accrocs qui
          pourraient surgir.
        </p>
        <p>
          Cependant, rappelez-vous que le véritable cœur de cette journée spéciale réside dans les moments que vous partagez avec votre
          partenaire, vos familles et vos amis. Le kit de survie mariage n'est qu'un outil pour vous permettre de profiter pleinement de ces
          moments en toute sérénité.
        </p>
        <img
          src="https://i.postimg.cc/qRnTycsD/couple-marie-sortie-eglise-petales-bouquet-joie.webp"
          alt="couple-marie-sortie-eglise-petales-bouquet-joie" />
        <p>
          Alors que vous marchez vers l'autel ou que vous dansez avec vos proches, ayez en tête que le kit de survie est là pour vous, mais
          il ne peut rivaliser avec l'amour et le bonheur qui imprègnent chaque instant de votre mariage. Avec ce kit à portée de main, vous
          êtes prêt à embrasser chaque moment, des sourires échangés aux larmes de joie, en sachant que vous avez tout ce dont vous avez
          besoin pour une journée parfaite.
        </p>
        <p>
          En définitive, que votre mariage soit une célébration intime ou une grande fête, que le soleil brille ou que la pluie tombe, votre
          kit de survie mariage vous assure que vous êtes prêt à faire face à tout, tout en vous permettant de vous concentrer sur
          l'essentiel : célébrer l'amour et l'union qui vous unissent à jamais.
        </p>
      </div>
    </div>
  </div>
</article>
