@use 'variables';
@use 'demo';

h1 {
  padding-bottom: 40px;
}

$btn-size: 40px;

.scroll-button {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  width: $btn-size;
  height: $btn-size;
  transition: all .25s ease-in-out;
  border-radius: calc(#{$btn-size} / 2);
  opacity: 0;
  color: var(--white);
  font-size: 16px;
  line-height: $btn-size;
  text-align: center;
  cursor: pointer;

  &.is-active {
    opacity: 1;
  }
}

.window-size {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 37px;
  padding: 0 12px;
  background: rgba(0, 0, 0, .7);
  color: var(--white);
  font-size: 12px;
  line-height: 37px;

  span {
    font-size: 16px;
    font-weight: bold;
  }
}
