<mat-drawer-container class="example-container">
  <mat-drawer
    mode="side"
    opened>
    <app-menu-demo></app-menu-demo>
  </mat-drawer>
  <mat-drawer-content>
    <div class="window-size">
      <span>{{ windowSize }}</span> px
    </div>

    <div class="wrapper">
      @if (thisIsPage(ROUTING.Icons)) {
        <app-icons></app-icons>
      }
      @if (thisIsPage(ROUTING.Colors)) {
        <app-colors></app-colors>
      }
      @if (thisIsPage(ROUTING.Buttons)) {
        <app-buttons></app-buttons>
      }
      @if (thisIsPage(ROUTING.Forms)) {
        <app-forms></app-forms>
      }
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<div
  id="scroll-to-top"
  class="scroll-button"
  (click)="scrollToTop()"
  [ngClass]="{ 'is-active': scrolled }">
  ↑
</div>
