@use 'variables';
@use 'demo';

.demo-menu {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 40px;
  list-style-type: none;
  background-color: var(--primary);
  color: var(--white);
  line-height: 36px;

  a {
    display: inline-block;
    padding: 0 20px;
    color: var(--white);
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }

  .menu-title {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.menu-button {
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}

.custom {
  .mat-menu-panel {
    max-width: 500px;
    border-radius: 0;
  }

  .mat-menu-content:not(:empty) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mat-menu-item {
    display: flex;
    justify-content: space-between;
    font-size: 1em;

    small {
      padding-left: 30px;
      color: var(--primary);
      font-size: .875em;
    }
  }
}
