<ul class="demo-menu">
  <li>
    <a mat-button [matMenuTriggerFor]="routesMenu" class="menu-button">Routes</a>

    <mat-menu #routesMenu="matMenu">
      <a mat-menu-item [matMenuTriggerFor]="pageDemo">pageDemo</a>
      <a mat-menu-item [matMenuTriggerFor]="homePage">homePage</a>
    </mat-menu>

    <mat-menu #pageDemo="matMenu">
      <a mat-menu-item [routerLink]="'/demo'">
        demo
        <small>/demo</small>
      </a>
    </mat-menu>
    <mat-menu #homePage="matMenu">
      <a mat-menu-item [routerLink]="'/home'">
        home
        <small>/home</small>
      </a>
    </mat-menu>
  </li>
</ul>

<ul class="demo-menu flex flex-column">
  <li>
    <a mat-button [matMenuTriggerFor]="routesGuideLines" class="menu-button">Guidelines</a>

    <mat-menu #routesGuideLines="matMenu">
      <a mat-menu-item [routerLink]="'/demo/icons'">icons</a>
      <a mat-menu-item [routerLink]="'/demo/colors'">colors</a>
    </mat-menu>
  </li>
  <li>
    <a mat-button [matMenuTriggerFor]="routesComponents" class="menu-button">Components</a>

    <mat-menu #routesComponents="matMenu">
      <a mat-menu-item [routerLink]="'/demo/buttons'">buttons</a>
      <a mat-menu-item [routerLink]="'/demo/forms'">forms</a>
    </mat-menu>
  </li>
</ul>