<!-- MENU -->
<app-header></app-header>

<!-- FIRST BLOCK -->
<section class="promo-photo">
  <div class="cta cta-img">
    <h1>
      Photographe de mariage <br />
      & créateur d'histoires
    </h1>
    <app-arrow-scroll></app-arrow-scroll>
  </div>
</section>

<!-- ABOUT BLOCK -->
<section class="about" id="about">
  <div class="container">
    <div class="section-header mt-xxl">
      <h2 class="title" data-title="Rennes, Nantes et Caen">
        Photographe de mariage
      </h2>
      <h2>Bonjour, je suis Dylan Bonneau</h2>
    </div>

    <div class="section-body grid">
      <div>
        <img
          class="img-profile"
          src="https://i.goopics.net/uayjvt.jpg"
          alt="dylan-bonneau-profile-portrait-mer-noir-blanc"
        />
      </div>

      <div>
        <div class="text-block">
          <p class="text">
            Je suis ravi de vous présenter mon univers photographique.
          </p>
          <p class="text">
            Mon objectif est de vous offrir des photos uniques et authentiques,
            reflétant votre histoire et votre amour. Je m'efforce de capturer
            l'essence même de votre jour de mariage, en mettant en avant vos
            émotions et votre personnalité.
          </p>
          <p class="text">
            Je suis convaincu que chaque mariage est unique et je prends un soin
            particulier à comprendre vos souhaits et vos besoins afin de créer
            des souvenirs inoubliables de cet événement spécial.
          </p>
          <p class="text">
            Je vous invite à parcourir mon site pour découvrir mon travail et à
            me contacter si vous avez des questions ou si vous souhaitez
            réserver une séance.
          </p>
        </div>
        <button
          (click)="navigate(ROUTING.About)"
          class="button-outline cta-about"
        >
          Nous voulons te connaître
        </button>
      </div>
    </div>
  </div>
</section>

<!-- MARRIED BLOCK -->
<section class="married">
  <div class="cta cta-img">
    <h2>Vous allez vous marier ?</h2>
    <div class="text-block">
      <p>
        Quelle merveilleuse nouvelle ! Je suis ravi pour vous et je suis honoré
        que vous ayez pensé à moi pour vous accompagner dans cette étape si
        importante de votre vie.
      </p>
    </div>
    <button class="white-color" (click)="navigate(ROUTING.Wedding)">
      Nous voulons contempler notre histoire
    </button>
  </div>
</section>

<!-- ASSISTED BLOCK -->
<!-- <section>
  <div class="cta cta-white">
    <h2>Vous avez assisté à un mariage ?</h2>
    <div class="text-block">
      <p>Nous nous sommes rencontrés il y a peu et vous voulez contempler les photos ?</p>
      <p>Vous attendez avec impatience de vous remémorer les moments les plus magiques de cette journée ?</p>
      <p>Il vous suffit de cliquer sur ce bouton et de rentrer le code</p>
    </div>
    <button>Je veux découvrir les photos de la journée</button>
  </div>
</section> -->

<!-- MARRIED BLOCK -->
<section>
  <div class="cta mt-md">
    <h2>Vous pouvez réserver votre séance dès à présent</h2>
    <div class="text-block">
      <p>
        N'hésitez pas à me contacter pour en savoir plus sur mes services, ainsi
        que pour réserver votre séance. Je suis impatients de vous connaitre
        afin de capturer le mariage qui vous ressemble
      </p>
    </div>
    <button
      class="primary-color button-outline"
      (click)="navigate(ROUTING.Wedding)"
    >
      Nous voulons faire connaissance
    </button>
  </div>
</section>
