@import 'variables';
@import 'typography';

:host {
  display: block;
  min-height: 100vh;
}

section {
  height: 100vh;
}

.promo-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(/assets/images/background/IMG_9868.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cta-img {
  background-color: #0000004A;
  color: white;
  padding-top: 300px;
}

.cta-white {
  top: 20%;
  position: relative;
}

.text-block {
  margin: 10px 0;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 300px);
  text-align: center;

  p {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
  }

  button {
    bottom: 25px;
    min-width: 30%;
    min-width: 200px;
    margin: 40px auto 0;
    padding: 20px;
    font-size: 20px;
  }
}

h1,
h2 {
  display: flex;
  flex-direction: column;
  font-size: 42px;
  max-width: 75%;
  margin: 0 auto;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 64px;
}

.section-header {
  text-align: center;
}

.title {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 16px;
  font-size: 2.8rem;
  line-height: 1;

  &::after {
    content: attr(data-title);
    display: block;
    margin-top: 15px;
    color: $primary;
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.title-sm {
  color: $grey-3;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  :nth-child(1) {
    margin-right: 24px;
  }

  :nth-child(2) {
    text-align: left;
  }
}

.img-profile {
  float: right;
}

.about {
  overflow: hidden;
  color: $black;

  img {
    max-width: 450px;
    width: 100%;
  }

  .text {
    margin: 16px 5px;
  }

  .points {
    top: 65%;
    left: 80%;
    width: 300px;
    opacity: .1;
  }

}

.cta-about {
  padding: 15px 35px;
  font-size: 25px;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(/assets/images/background/IMG_9483.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media(max-width: 900px) {
  .container {
    padding: 0 20px;
  }

  .cta {
    button {
      font-size: 15px;
    }
  }

  .grid {
    display: flex;

    :nth-child(1) {
      margin: auto;
    }

    :nth-child(2) {
      margin-top: 25px;
      margin-left: 0;
      text-align: center;
    }
  }

  .title {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 20px;
  }

  .text-block {
    max-height: 110px;
    overflow: auto;
  }
}

@media(max-width: 600px) {
  app-arrow-scroll {
    display: none;
  }
}
