@import 'variables';
@import 'typography';

section {
  height: 100vh;
}

.promo-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(/assets/images/background/IMG_9868.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .cta {
    display: flex;
    flex-direction: column;
    margin-top: 320px;
    padding: 25px;
    background-color: #0000004A;
    text-align: center;
  }

  p {
    display: flex;
    flex-direction: column;
  }

  button {
    bottom: 25px;
    margin-top: 40px;
    padding: 20px;
    font-size: 20px;
  }
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 42px;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 64px;
}

.section-header {
  margin: 48px;
  text-align: center;
}

.title {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 16px;
  font-size: 2.8rem;
  line-height: 1;

  &::after {
    content: attr(data-title);
    display: block;
    margin-top: 15px;
    color: $primary;
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.title-sm {
  color: $grey-3;
  font-size: 1.6rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  :nth-child(1) {
    margin-right: 24px;
  }

  :nth-child(2) {
    margin-left: 24px;
    text-align: left;
  }
}

.img-profile {
  float: right;
}

.about {
  overflow: hidden;
  color: $black;

  img {
    max-width: 400px;
  }

  .text {
    margin: 16px 0;
  }

  .points {
    top: 65%;
    left: 80%;
    width: 300px;
    opacity: .1;
  }

}

.cta-about {
  padding: 15px 35px;
  font-size: 25px;
}
