<!-- MENU -->
<app-header [scrolledTheme]="true"></app-header>

<section class="grid-wrap">
  <h1 class="title with-subtitle">Et si on faisait connaissance ?</h1>
  <p class="subtitle">
    <span>{{
      "J'ai hâte de vous découvrir. Parlez-moi de vous, de votre mariage, de vos envies."
        | uppercase
    }}</span>
    <br />
    <span>{{ "Racontez-moi vos petits moments de folie." | uppercase }}</span>
  </p>

  <div class="form-bloc">
    <img
      src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
      alt="salad"
      class="img"
    />

    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="formField">
        <input
          class="is-focused"
          type="input"
          placeholder="Prenom"
          name="prenom"
          id="prenom"
          formControlName="name"
          required
        />
        <label for="prenom">Votre Prénom</label>
      </div>

      <div class="formField">
        <input
          class="is-focused"
          type="input"
          placeholder="Nom"
          name="nom"
          id="nom"
          formControlName="lastname"
          required
        />
        <label for="nom">Votre Nom</label>
      </div>

      <div class="formField">
        <input
          class="is-focused"
          type="input"
          placeholder="Mail"
          name="mail"
          formControlName="email"
          id="mail"
          required
        />
        <label for="mail">Votre adresse mail</label>
      </div>

      <div class="formField">
        <input
          class="is-focused"
          type="input"
          placeholder="Phone"
          phone="phone"
          id="phone"
          formControlName="phone"
          required
        />
        <label for="phone">Votre numéro de téléphone</label>
      </div>

      <div class="formField">
        <input
          class="is-focused"
          type="input"
          placeholder="Ville"
          name="ville"
          id="ville"
          formControlName="city"
          required
        />
        <label for="ville">La ville où vous vivez</label>
      </div>

      <div class="formField">
        <input
          class="is-focused"
          type="date"
          placeholder="Date"
          name="date"
          id="date"
          formControlName="weddingDate"
          required
        />
        <label for="date">La date de votre mariage</label>
      </div>

      <div class="formField">
        <input
          class="is-focused"
          type="input"
          placeholder="Lieu"
          name="lieu"
          id="lieu"
          formControlName="place"
          required
        />
        <label for="lieu">Le Lieu de votre mariage</label>
      </div>

      <div class="formField">
        <textarea
          rows="10"
          class="is-focused"
          name="message"
          id="message"
          formControlName="message"
        ></textarea>
        <label for="message">Dîtes m'en un peu plus sur vous</label>
      </div>

      <button class="primary-color is-medium" type="submit">envoyer</button>
    </form>
  </div>
</section>
