<section class="hero">
  <div class="text">
    <div class="hero-container">
      <div class="title-container">
        <h1>
          <span class="reveal-d1">{{ 'Réservez' | uppercase }}</span>
          <br />
          <span class="reveal-d2">{{ 'vos dates' | uppercase }}</span>
          <br />
          <em class="reveal-d3">{{ "aujourd'hui" | uppercase }}</em>
        </h1>
      </div>
      <div class="group-dates-images-container">
        <div class="date-image">
          <img
            class="rounded-image reveal-d1"
            width="225"
            height="399"
            priority
            ngSrc="https://i.postimg.cc/dQnbMHfH/Mathilde-enfant-joie-amour-complicite-rire-maman-famille-405px.webp"
            alt="Mathilde-enfant-joie-amour-complicite-rire-maman-famille" />

          <p>
            <span class="reveal-d2">{{ 'Séance fiançaille' | uppercase }}</span>
          </p>
        </div>
        <div class="date-image">
          <img
            class="rounded-image reveal-d3"
            width="266"
            height="400"
            priority
            ngSrc="https://i.postimg.cc/zGV87sNM/fenetre-chateau-robe-dentelle-lustre-lumiere-naturelle-portrait.webp"
            alt="fenetre-chateau-robe-dentelle-lustre-lumiere-naturelle-portrait" />

          <p>
            <span class="reveal-d4">{{ 'Jour J' | uppercase }}</span>
          </p>
        </div>

        <div class="date-image">
          <img
            class="rounded-image reveal-d5"
            width="264"
            height="397"
            priority
            ngSrc="https://i.postimg.cc/G24L3sY8/clemence-louise-perquette-bellengreville-fenetre-bebe-noir-blanc.webp"
            alt="clemence-louise-perquette-bellengreville-fenetre-bebe-noir-blanc" />

          <p>
            <span class="reveal-d6">{{ 'Day after' | uppercase }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="now"
  class="now">
  <div class="polygon">
    <h2 class="title">Votre mariage commence maintenant&#xA0;!</h2>
    <div class="text">
      <p>
        Et si vous êtes ici, c'est que <strong>vous allez vous marier</strong>.
        <br />
        Vous avez commencé <strong>les préparatifs</strong> et vous vous posez sûrement <strong>des questions</strong> dans tous les sens.
      </p>
      <ul class="questions">
        <li>Quel domaine choisir ?</li>
        <li>Où acheter son costume ?</li>
        <li>Comment choisir sa robe de mariée ?</li>
        <li>Quand commander son bouquet de mariée ?</li>
        <li>Quel photographe de mariage ?</li>
      </ul>
      <p>
        Ça fait déjà quelques heures que vous êtes en train de parcourir toutes les pages de Google pour trouver un
        <strong>photographe de mariage autour de Rennes</strong> afin de dénicher <strong>LE PHOTOGRAPHE</strong> qui vous correspond. Et
        faut le dire, plusieurs autres <strong>photographes</strong> vous 'ont peut-être tapé dans lœil.
      </p>
      <p>
        Alors, malheureusement, je ne vais pas pouvoir vous aider à choisir ni le
        <strong>bouquet</strong>, ni la <strong>robe</strong>, ni <strong>votre moitié</strong>. Cependant, je vous partagerai
        <strong>mon expérience</strong> afin de vous aider dans <strong>votre aventure</strong>. Je serai comme <strong> un ami</strong> de
        longue date le temps de <strong>votre mariage</strong>.
      </p>
    </div>
  </div>
</section>

<section
  id="presentation-photographer"
  class="presentation">
  <h2 class="title">votre photographe de mariage : une aide précieuse</h2>
  <div class="">
    <div class="content">
      <div class="img">
        <h3 class="no-stress">no stress</h3>
        <img
          width="619"
          height="600"
          ngSrc="https://i.postimg.cc/RVdB4PPd/petite-fille-mariage-yeux-ferme-penser-reflechir-concentration.webp"
          alt="petite-fille-mariage-yeux-ferme-penser-reflechir-concentration" />
      </div>
      <div class="text-content">
        <p>
          Préparer <strong>son mariage</strong> demande beaucoup d'<strong>organisation</strong>. <strong>De penser</strong> à chaque
          détail. <strong>De prévoir</strong> chaque lieu. Vous essayez <strong>de planifier</strong> votre journée encore et encore.
        </p>
        <ul class="questions">
          <li>Qui sont les invités ?</li>
          <li>À quelle heure allez chez la coiffeuse ?</li>
          <li>Comment se déplacer entre les lieux ?</li>
        </ul>
        <p>
          C'est là que j'interviens. Les précédents mariages que j'ai pu faire me permettent de <strong>vous aider</strong> et de
          <strong>vous conseiller</strong> lorsque vous en ressentez le besoin. <strong>Je vous assiste</strong> dans la préparation de
          <strong>votre mariage</strong>. Par exemple, prenons un cas qui pourra arriver :
        </p>
        <p>
          <strong>Votre témoin</strong> a oublié <strong>son discours</strong> dans la <strong>chambre du domaine</strong> ? Pas de panique,
          je me porte <strong>volontaire</strong> afin de vous <strong>éviter du stress</strong> supplémentaire. Lors du
          <strong>discours</strong>, quelques minutes après, vous avez les <strong>larmes aux yeux</strong>, mais rien pour essuyer vos
          larmes ? Je peux vous fournir des mouchoirs.
        </p>
        <p>
          Être <strong>photographe</strong>, ce n'est pas seulement <strong>photographier le mariage</strong>. Du moins, ce n'est que mon
          point de vue. Je fais en sorte que vous passiez <strong>un mariage à la hauteur de vos espérances</strong>. Je vous permets de
          <strong>vous focaliser</strong> seulement sur les choses qui <strong>comptes vraiment pour vous</strong>, afin de vous faire
          <strong>gagner du temps</strong> et de vous permettre <strong>de profiter</strong> de votre journée dans les
          <strong>meilleures conditions</strong>.
        </p>
      </div>
    </div>
  </div>
</section>

<div
  id="way-together"
  class="container-banner">
  <img
    class="banner way-together mt-xxl mb-xxl"
    src="https://i.postimg.cc/q7VzcBTY/enfant-marche-costume-bretelle-mariage-garcon-tenue-vetement.webp"
    alt="enfant-marche-costume-bretelle-mariage-garcon-tenue-vetement" />
</div>

<section
  id="presentation-photographer"
  class="presentation">
  <h2 class="title mb-xxl">Au-delà des poses : révéler votre beauté naturelle</h2>
  <div class="">
    <div class="content">
      <div class="img">
        <img
          width="565"
          height="707"
          class="mobile"
          ngSrc="https://i.postimg.cc/gkt6rKjy/mobile-maquillage-pinceau-oeil-preparatif-mariage-femme-visage.webp"
          alt="mobile-maquillage-pinceau-oeil-preparatif-mariage-femme-visage" />
        <img
          width="916"
          height="515"
          class="desktop"
          ngSrc="https://i.postimg.cc/26BfFr78/maquillage-pinceau-oeil-preparatif-mariage-femme-visage.webp"
          alt="maquillage-pinceau-oeil-preparatif-mariage-femme-visage" />
      </div>
      <div class="text-content">
        <p>
          Bien entendu, je ne suis pas Wedding Planner et n'en ai pas la prétention. Mon but est de vous permettre de vous concentrer sur
          l'essentiel :
          <strong>célébrer votre amour</strong> et <strong>créer des souvenirs</strong> précieux avec vos proches.
        </p>
        <p>
          Dylan, tu es bien gentil à vouloir nous aider, mais nos
          <strong>photos</strong> ? Ne vous inquiétez pas, j'y viens.
        </p>
        <p>
          Lorsque j'imagine le <strong>mariage</strong>, je le vois comme une <strong>histoire à raconter</strong>. Mais pas une histoire
          montée de toutes pièces (<strong>je ne vous fais pas poser</strong>). Seulement votre histoire, telle que vous êtes au moment de
          votre aventure.
        </p>
        <p>
          J'essaie de faire retranscrire les émotions que ce soit en
          <strong>noir et blanc</strong> ou <strong>en couleur</strong>. En <strong>portrait</strong> ou en <strong>paysage</strong>, afin
          que vous puissiez vous replonger en <strong>famille</strong> ou entre <strong>amis</strong> dans la plus belle des histoires. Et
          vous vous trouverez <strong>beaux</strong>, <strong>amoureux</strong> et <strong>sincères</strong> sur
          <strong>mes photos</strong>, car c'est ce que vous êtes.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="sensitivity"
  class="mt-xxl">
  <div class="sensitivity">
    <div class="img">
      <img
        width="600"
        height="900"
        ngSrc="https://i.postimg.cc/zGV87sNM/fenetre-chateau-robe-dentelle-lustre-lumiere-naturelle-portrait.webp"
        alt="fenetre-chateau-robe-dentelle-lustre-lumiere-naturelle-portrait" />
    </div>
    <div class="text">
      <p>
        À chaque fois que je prends mon <strong>appareil photo</strong>, c'est comme si je pouvais
        <strong>regarder à travers cette fenêtre</strong> et <strong>arrêter le temps</strong>. Prendre un instant de votre mariage et le
        <strong>figer</strong> à jamais.
      </p>
      <p>
        Ce "<strong>Super pouvoir</strong>" me permet d'apercevoir <strong>les détails</strong> des plus subtils,
        <strong>les regards</strong> complices et <strong>les sourires</strong> émus qui composent votre journée.
      </p>
      <p>
        Et je ne pourrais pas faire cela sans vous. Car
        <strong>vous êtes unique</strong> et c'est pourquoi il est essentiel que je vous <strong>connaisse</strong>. Tout à l'heure, je vous
        parlez du fait que je serais <strong>votre ami</strong> le temps de <strong>votre mariage</strong>. Et ça sera le cas.
      </p>
      <p>
        Du moins, je veux créer une <strong>relation de confiance</strong> entre nous. Pour que vous ne vous préoccupez pas de moi, mais
        également pour me permettre de regarder <strong>votre mariage</strong> avec émotions. <strong>Vos souvenirs</strong> seront ainsi
        décuplés et vous toucheront indéniablement plus.
      </p>
    </div>
  </div>
</section>

<section id="about">
  <div class="about">
    <div class="text flex flex-column">
      <h3>Un Normand en Bretagne</h3>
      <p>
        J'ai toujours vécu autour de
        <strong>
          <a
            app-button
            [variant]="ButtonVariant.LINK"
            href="https://caen.fr/"
            target="_blank"
            rel="noopener noreferrer">
            Caen
          </a>
        </strong>
        , et de son patrimoine historique. Une région qui est <strong>mondialement connue</strong> pour ses <strong>plages</strong> lors du
        <strong>débarquement</strong>. Mais pas seulement, la <strong>Normandie</strong>, c'est aussi des <strong>fromages</strong>, de
        <strong>l'alcool</strong>, des <strong>châteaux</strong>, un <strong>patrimoine architectural</strong> et j'en passe. Toutes ces
        choses font partie de moi.
      </p>
      <p>
        Mais depuis quelques années maintenant, je suis arrivé dans cette belle ville de
        <strong>
          <a
            app-button
            [variant]="ButtonVariant.LINK"
            href="https://metropole.rennes.fr/"
            target="_blank"
            rel="noopener noreferrer">
            Rennes
          </a>
        </strong>
        . Où je me suis converti en <strong>Rouge et Noir</strong> après quelques matchs au <strong>Roazhon Park</strong> et mangé quelques
        <strong>galettes saucisses</strong>.
      </p>
      <p>
        J'aime vous faire rire avec mes blagues, même les plus nulles... Pour vous mettre à l'aise, vous déstresser et vous donner de la
        joie.
      </p>
      <a
        app-button
        [variant]="ButtonVariant.SECONDARY_OUTLINE"
        [size]="ButtonSize.L"
        [href]="ROUTING.ABOUT"
        rel="page à propos">
        Nous voulons en savoir plus
      </a>
    </div>
    <div class="img">
      <h2 class="title">Entre Bretagne et Normandie</h2>
      <h3 class="title subtitle">
        <a
          app-button
          [variant]="ButtonVariant.LINK_REVERSE"
          [href]="ROUTING.RENNES"
          rel="page Photographe de Mariage à Rennes">
          <span>Rennes</span>
        </a>
        , Saint-Malo, Fougères, Redon, Bain-de-Bretagne, Dinan, Dinard,
        <a
          app-button
          [variant]="ButtonVariant.LINK_REVERSE"
          [href]="ROUTING.CAEN"
          rel="page Photographe de Mariage à Caen">
          <span>Caen</span>
        </a>
        , Deauville, Cabourg, Granville, Lisieux, Bayeux, Le&#xA0;Mont-Saint-Michel, ...
      </h3>
      <img
        width="430"
        height="287"
        ngSrc="https://i.postimg.cc/xCfym3D0/dylan-bonneau-profile-portrait-mer-noir-blanc.webp"
        alt="dylan-bonneau-profile-portrait-mer-noir-blanc" />
    </div>
  </div>
</section>

<section
  class="testimonials"
  id="testimonials">
  <h2 class="title">Ils se sont dit oui devant mon appareil</h2>
  <div class="container">
    @for (testimonial of testimonials; track testimonial; let i = $index) {
      @if (i === counter) {
        <div
          class="testimonial-wrapper"
          [class.reverse]="i % 2 === 1">
          <div class="testimonial-img-wrapper">
            <div class="img">
              <img
                @fade
                class="mobile"
                [width]="testimonial?.imgMobile?.width"
                [height]="testimonial?.imgMobile?.height"
                [src]="testimonial?.imgMobile?.url"
                [alt]="testimonial?.imgMobile?.alt" />
              <img
                @fade
                class="desktop"
                [width]="testimonial?.img?.width"
                [height]="testimonial?.img?.height"
                [src]="testimonial?.img?.url"
                [alt]="testimonial?.img?.alt" />
            </div>
          </div>
          <div class="testimonial-text-wrapper">
            <h3
              @fade
              class="mt-0">
              {{ testimonial?.city | uppercase }}
            </h3>
            <h4 @fade>{{ testimonial?.region }}</h4>
            <div class="testimonial-text">
              @for (text of testimonial?.texts; track text) {
                <p @fade>
                  {{ text }}
                </p>
              }
            </div>
            <div class="authors">
              {{ testimonial?.authors }}
            </div>
          </div>
        </div>
      }
    }
  </div>
  @if (testimonials.length > 1) {
    <div class="flex content-center">
      <button
        app-button
        [variant]="ButtonVariant.TERTIARY"
        [size]="ButtonSize.L"
        [icon]="IconName.BxsRightArrow"
        [iconPosition]="IconPosition.RIGHT"
        (click)="onNext()">
        Témoignage suivant
      </button>
    </div>
  }
</section>

<section class="its-your-turn">
  <div class="text">
    <h2>Maintenant, c'est à <span>votre tour</span> de vous dévoiler.</h2>
    <p>
      Je vous ai parlé de moi, de comment je travaille, mais je ne sais encore rien de vous. <strong>Racontez-moi</strong> comment vous vous
      êtes rencontré. <strong>Dites-moi</strong> qui a fait le premier bisou. <strong>Je veux en savoir</strong> plus sur vous.
      <strong>Prenons le temps d'échanger</strong> autour d'un café, d'un thé ou pourquoi pas une bonne bière.
    </p>
  </div>
  <a
    app-button
    [variant]="ButtonVariant.SECONDARY_OUTLINE"
    [size]="ButtonSize.L"
    target="_blank"
    [href]="ROUTING.CALENDLY"
    rel="noopener noreferrer">
    Prenons le temps d'échanger
  </a>
</section>
