<footer>
  <div class="container">
    <div class="footer-main">
      <div>
        <a href="#"
          ><img
            class="logo"
            src="/assets/images/logo/logo-primary.png"
            alt="logo"
        /></a>
        <div class="tagline">Photographe de mariage & créateur d'histoires</div>
      </div>
      <div class="links-main">
        <div class="links-column">
          <a class="link" [href]="redirect(ROUTING.About)">{{
            "à propos" | uppercase
          }}</a>
        </div>
        <div class="links-column">
          <a class="link" [href]="redirect(ROUTING.Wedding)">{{
            "mariage" | uppercase
          }}</a>
        </div>
        <div class="links-column">
          <a class="link" [href]="redirect(ROUTING.legalNotice)">{{
            "mentions légales" | uppercase
          }}</a>
        </div>
        <a
          class="button is-medium primary-color button-hover-white"
          target="_blank"
          href="https://calendly.com/dylanbonneau/appel-telephonique"
          >Prendre un RDV</a
        >
      </div>
    </div>
    <div class="footer-bottom">
      <div>
        &copy; {{ dataNow | date : "yyyy" }} Dylan BONNEAU. Tous droits
        réservés.
      </div>
    </div>
  </div>
</footer>
