<div class="container">
  <div [className]="'selected-color background-' + selectedColor">
    <span>${{ selectedColor }}</span>
  </div>

  <div class="grid">
    <!-- theme -->
    @for (color of listColorsTheme; track color) {
      <div
        [className]="'grid-colors center background-' + color"
        [ngClass]="{ active: isSelectedColor(color) }"
        (click)="changeColor(color)">
        @if (isSelectedColor(color)) {
          <em class="icon icon-check"></em>
        }
      </div>
    }
  </div>

  <!-- colors -->
  <div class="grid">
    @for (color of listColors; track color) {
      <div
        [className]="'grid-colors center background-' + color"
        [ngClass]="{ active: isSelectedColor(color) }"
        (click)="changeColor(color)">
        @if (isSelectedColor(color)) {
          <em class="icon icon-check"></em>
        }
      </div>
    }
  </div>

  <div class="grid">
    <!-- blue -->
    @for (color of listColorsBlue; track color) {
      <div
        [className]="'grid-colors center background-' + color"
        [ngClass]="{ active: isSelectedColor(color) }"
        (click)="changeColor(color)">
        @if (isSelectedColor(color)) {
          <em class="icon icon-check"></em>
        }
      </div>
    }
    <!-- green -->
    @for (color of listColorsGreen; track color) {
      <div
        [className]="'grid-colors center background-' + color"
        [ngClass]="{ active: isSelectedColor(color) }"
        (click)="changeColor(color)">
        @if (isSelectedColor(color)) {
          <em class="icon icon-check"></em>
        }
      </div>
    }
  </div>

  <div class="grid">
    <!-- red -->
    @for (color of listColorsRed; track color) {
      <div
        [className]="'grid-colors center background-' + color"
        [ngClass]="{ active: isSelectedColor(color) }"
        (click)="changeColor(color)">
        @if (isSelectedColor(color)) {
          <em class="icon icon-check"></em>
        }
      </div>
    }
    <!-- yellow -->
    @for (color of listColorsYellow; track color) {
      <div
        [className]="'grid-colors center background-' + color"
        [ngClass]="{ active: isSelectedColor(color) }"
        (click)="changeColor(color)">
        @if (isSelectedColor(color)) {
          <em class="icon icon-check"></em>
        }
      </div>
    }
  </div>

  <!-- grey -->
  <div class="grid">
    @for (color of listColorsGrey; track color) {
      <div
        [className]="'grid-colors center background-' + color"
        [ngClass]="{ active: isSelectedColor(color) }"
        (click)="changeColor(color)">
        @if (isSelectedColor(color)) {
          <em class="icon icon-check"></em>
        }
      </div>
    }
  </div>
</div>
