<!-- MENU -->
<app-header [scrolledTheme]="true"></app-header>

<section class="my-name-is-bond">
  <img class="img-left" src="/assets/images/profile/IMG_6479.jpg" alt="" />
  <div class="text-block">
    <h1>C’était en 2020,</h1>
    <p class="text">
      Peut-être que cette année ne représente rien pour toi, mais pour moi c’est le premier mariage que j’ai pu réaliser
      avec mon appareil photo et c’est celui de ma sœur.
    </p>
    <p class="text">
      Elle m’a demandé deux choses, la première, si je voulais devenir son témoin de mariage,
      j’ai naturellement accepté tout de suite. La seconde, si je pouvais capturer son mariage en photo, j’ai également
      dit oui.
    </p>
    <p class="text">
      A partir de cet instant, j’ai su que je voulais m’emparer de ces petits moments de bonheur, mais aussi éviter à
      ton frère, à ton oncle ou à ton ami, qui fait de très belles photos de les faire, même si c’est gratuit. Car sur
      le papier, c’est une excellente idée, à l’exception qu’il ne profitera pas des festivités que tu as organisées
      spécialement pour ce jour. Il ne sera pas sur les photos et aura un stress permanent.
    </p>
  </div>
</section>

<section>
  <div class="text-block">
    <h1>Mais là, ce que tu veux savoir, c'est si je suis vraiment le bon...</h1>
    <p class="text">
      Ma vision du mariage, c’est le partage, la famille et les amis. <br>
      Je veux que tu te lâches avec ton homme, que tu fasses la fête avec les convives, que ta famille pleurent de
      joie en te voyant dans ta robe.
    </p>
    <p class="text">
      Pour immortaliser ces moments, nous devons avoir le feeling. J’ai besoin de bien vous connaître tous les deux,
      pour pouvoir savoir ce que vous voulez vraiment pour votre futur mariage.
    </p>
    <p class="text">
      Cela t'enlèvera un poids, te permettra de m’oublier, de ne plus penser à moi, pour que tu puisses profiter
      pleinement de ton mariage.
    </p>
    <p class="text">
      Le but, c’est de te voir t’amuser, chanter à tue-tête, danser jusqu'au bout de la nuit, sans que tu ne te
      préoccupes d’avoir telle ou telle image.
    </p>
    <p class="text">
      Si tu souhaites faire une séance avec moi, il me semble naturel de te parler de moi pour que tu en sache plus sur
      ma personnalité et savoir si nous sommes compatibles
    </p>
  </div>
</section>

<section class="my-name-is-bond">
  <div class="text-block">
    <p class="text">
      La Normandie n’évoque pour toi qu’une région ? Mais pour moi c’est l’une des plus belles régions de
      France. J’ai pu grandir entre falaises escarpées, plages sablonneuses, fromages et alcools de renom. J’ai
      également été bercé par les nombreuses périodes historiques de ma région.
    </p>
    <p class="text">
      Tu l’as bien compris, c’est une région, chère à mon cœur, où j’y retourne dès que j’en ai la possibilité.
    </p>
    <p class="text">
      Gamin, j’étais assez réservé, j’aimais dessiner les personnages des mangas que je lisais, je rêvais de devenir
      dessinateur de bande déssinée, je montais aux arbres pour y construire une cabane, je partais à la pêche avec mon
      papy. J’étais très curieux et j'ai réalisé des petites expériences tel un scientifique. Un peu plus tard, j'ai
      découvert le bonheur de marquer quelques paniers sur un terrain de basket. Au fil du temps, j’ai réussi à vaincre
      ma timidité, même si elle est toujours présente parfois.
    </p>
    <p class="text">
      Pourquoi je te parles de mon enfance ? Car je suis toujours ce gamin dans un corps d’adulte. J’ai fréquemment des
      moments de folie et des blagues pas drôles qui prennent le dessus. (Mais promis, je suis bien civilisé).
    </p>
  </div>
  <div class="img-block">
    <div class="img-block-left">
      <img class="img-profile" src="/assets/images/profile/IMG_6479.jpg" alt="" />
      <img class="img-profile" src="/assets/images/profile/DSC00341.JPG" alt="" />
    </div>
    <div class="img-block-right">
      <img class="img-profile" src="/assets/images/profile/IMG_7149.jpg" alt="" />
      <img class="img-profile" src="/assets/images/profile/moi.jpg" alt="" />
    </div>
  </div>
</section>
