<!-- MENU -->
<app-header [scrolledTheme]="true"></app-header>

<img
  class="img-profile"
  src="https://i.goopics.net/hwudk2.jpg"
  alt="dylan-bonneau-profile-portrait-mer-noir-blanc-zoom"
/>

<section>
  <div class="text-block">
    <h1>Bonjour, Je suis Dylan Bonneau</h1>
    <p class="text">
      Je suis un normand qui s'est perdu en Bretagne depuis maintenant quelques
      années. Je vais bientôt passer le cap de la trentaine mais reste un
      éternel enfant en quête d'aventures et d'amusements.
    </p>
    <p class="text">
      J'aime me balader en forêt pendant des heures, regarder une série au chaud
      avec du thé et un plaid mais aussi partir en mer avec mon grand-père.
      Étant quelqu'un d'introverti, je préfère écouter et observer les gens
      avant de m'exprimer. Je ne suis pas très à l'aise à l'idée de prendre la
      parole en public et je préfère souvent être en retrait.
    </p>
    <p class="text">
      Je suis quelqu'un de calme qui aime passer du temps seul et réfléchir à la
      vie. Je suis très curieux et j'aime découvrir de nouvelles choses. J'aime
      partager mon temps avec des amis et des membres de ma famille, et j'aime
      apprendre des autres.
    </p>
    <p class="text">
      J'aime la vie et cherche à vivre chaque moment à fond. J'essaye de voir le
      positif dans chaque situation et de trouver le bon côté des choses. Je
      suis optimiste et j'espère que je peux apporter ma petite contribution
      pour rendre le monde meilleur.
    </p>
  </div>
</section>

<section>
  <div class="text-block">
    <h2>Si vous êtes arrivé jusqu'ici</h2>
    <p class="text">
      C'est sans doute que vous cherchez votre futur photographe pour votre
      mariage. Vous vous demandez ce que je peux vous apporter, comment je le
      fais, ou même en savoir plus sur qui je suis.
    </p>
    <p class="text">
      Pour commencer, je vais vous parler de comment je suis devenu photographe
      de mariage
    </p>
  </div>
</section>

<div class="container-banner">
  <img
    class="banner"
    src="https://i.goopics.net/803j3d.jpg"
    alt="commencement_cabourg_plage_normandie_france_temoin_mariage_evjf"
  />
  <div class="title-banner">Le commencement</div>
</div>

<section>
  <div class="text-block">
    <h2>C'était fin 2019</h2>
    <p class="text">
      Depuis que mon grand-père a acquis un appareil photo en 2013, la
      photographie est devenue ma passion. presque 7 ans plus tard et
      d'innombrables souvenirs immortalisés, ma sœur m'a demandé de
      photographier son mariage en plus que d'être son témoin.
    </p>
    <p class="text">
      Au départ, je n'étais pas très expérimenté dans ce domaine. En fait, je
      n'avais jamais pris de photos de mariage auparavant. Néanmoins, j'étais
      honoré et excité à l'idée de pouvoir capturer ce moment spécial pour elle
      et son futur mari.
    </p>
    <p class="text">
      Avec l'aide de ma sœur et de son fiancé, je me suis lancé dans cette
      aventure passionnante. J'ai étudié diverses techniques, fait des
      recherches et pratiqué autant que possible.
    </p>
    <p class="text">
      Le jour J est arrivé et j'étais prêt. J'ai réussi à capturer des instants
      magiques et à prendre des photos incroyables qui ont immortalisé leur
      journée spéciale. Je suis fier et heureux de voir le résultat final.
    </p>
    <p class="text">
      La photographie de mariage est devenue ma passion et maintenant mon
      métier. Je suis ravi de pouvoir offrir à d'autres couples la même
      opportunité que j'ai eue de capturer leur jour de mariage, afin qu'ils
      puissent le revivre à chaque fois qu'ils regarderont leurs photos. C'est à
      ce moment-là que j'ai su que je voulais devenir photographe de mariage.
      Pour vivre des instants émouvants, insolites et drôles.
    </p>

    <div class="button-group">
      <button
        (click)="navigate(ROUTING.Wedding)"
        class="is-medium primary-color button-outline"
      >
        Explorez mon univers
      </button>
      <a class="button is-medium primary-color button-hover-white" target="_blank" href="https://calendly.com/dylanbonneau/appel-telephonique">Prendre un RDV</a>

    </div>
  </div>
</section>

<!-- <section>
  <div class="text-block">
    <h2>Ne faites pas cette erreur !</h2>
    <p class="text">
      Lorsque vous organisez un mariage, il est tentant de confier la tâche de
      prendre des photos à un membre de votre famille. Après tout, ils sont là
      et ils sont disponibles pour le faire gratuitement. Cependant, il y a
      quelques raisons pour lesquelles il est préférable d'engager un
      photographe professionnel pour capturer votre grand jour.
    </p>
    <p class="text">
      Tout d'abord, un membre de votre famille peut se sentir sous pression
      lorsqu'il s'agit de prendre des photos de votre mariage. Étant donné
      qu'ils sont proches de vous, ils seront probablement soucieux de produire
      des images parfaites, ce qui peut les empêcher d'être aussi créatifs et
      spontanés que le ferait un photographe professionnel.
    </p>
    <p class="text">
      De plus, un photographe professionnel a probablement beaucoup plus
      d'expérience et de compétences en matière de photographie que n'importe
      qui dans votre famille. Ils seront mieux équipés pour capturer des moments
      uniques et saisir tous les détails qui font votre mariage si spécial.
    </p>
    <p class="text">
      Enfin, un photographe professionnel se concentrera uniquement sur la prise
      de photos, ce qui signifie que vous et vos invités pouvez profiter
      pleinement de l'occasion sans avoir à vous soucier de rien d'autre. Si un
      membre de votre famille est le photographe, ils ne pourront pas se mêler
      et profiter de la fête.
    </p>
    <p class="text">
      Au final, bien que cela puisse être tentant de confier la tâche de prendre
      des photos à un membre de votre famille, cela n'est pas toujours la
      meilleure idée. En engageant un photographe professionnel, vous êtes
      assuré d'obtenir des images de qualité et de profiter pleinement de votre
      grand jour sans aucune pression.
    </p>
    <p class="text">
      Mais également pour vous éviter, comme j'ai pu le vivre, de recourir à un
      membre de votre famille, ami ou une connaissance.
    </p>
  </div>
</section>

<section>
  <div class="text-block">
    <h2>Vous ne cherchez pas un photographe !</h2>
    <p class="text">
      Bon, c'est un titre un peu racoleur mais c'est vrai. Cela fait maintenant
      des heures que vous parcourez des sites et des sites de photographe de
      mariage dans le but de raconter votre histoire. Et faire de belles images
      ne suffit pas. Il faut que vous trouviez la personne qui va vous mettre à
      l'aise et qui vous correspond.
    </p>
    <p class="text">
      Le mariage est l'un des moments les plus importants de notre vie. C'est
      pourquoi la prise de photographies est l'une des principales
      considérations lors de la planification d'un mariage. Bien que la plupart
      des gens recherchent un photographe de mariage, je m'efforce d'aller plus
      loin
    </p>
    <p class="text">
      Je serais comme un ami proche qui vous accompagne avant, pendant et après
      votre mariage de manière personnalisée et chaleureuse.
    </p>
    <p class="text">
      La journée de votre mariage est souvent le plus grand et le plus beau jour
      de votre vie. Il est donc important que vous puissiez profiter de chaque
      instant et que vous n'ayez pas à vous soucier de ce qui se passe autour de
      vous. Je peux donc vous fournir le soutien dont vous avez besoin pour que
      cette journée soit parfaite.
    </p>
    <p class="text">
      Je suis prêt à me montrer flexible et à m'adapter à votre style et à vos
      souhaits. Je veux que votre mariage soit unique et personnel et je suis
      prêt à me déplacer pour pouvoir capturer tous les moments spéciaux. Je
      serai là pour vous accompagner tout au long de la journée et vous
      conseiller si vous le souhaitez.
    </p>
    <p class="text">
      Par-dessus tout, je vous offre ma présence et mon soutien pour que votre
      journée soit le plus mémorable possible. Avec moi, vous n'avez pas à vous
      soucier de votre journée, car je serai là pour vous aider à vous occuper
      des détails et à profiter pleinement de chaque instant. Je suis votre
      meilleur ami le temps d'une journée.
    </p>

    <button
      class="primary-color is-medium"
      type="submit"
      (click)="navigate(ROUTING.Contacts)"
    >
      Nous voulons te rencontrer
    </button>
  </div>
</section> -->
