<div class="block">
  <h1>Plan du site</h1>

  <div>
    <h2>Navigation</h2>
    <ul>
      <li>
        <a
          app-button
          [icon]="IconName.BxsRightArrow"
          [iconPosition]="IconPosition.LEFT"
          [variant]="ButtonVariant.TERTIARY"
          [routerLink]="[`/${ROUTING.HOME}`]">
          Accueil
        </a>
      </li>
      <li>
        <a
          app-button
          [icon]="IconName.BxsRightArrow"
          [iconPosition]="IconPosition.LEFT"
          [variant]="ButtonVariant.TERTIARY"
          [routerLink]="[`/${ROUTING.ABOUT}`]">
          A propos
        </a>
      </li>
      <li>
        <a
          app-button
          [icon]="IconName.BxsRightArrow"
          [iconPosition]="IconPosition.LEFT"
          [variant]="ButtonVariant.TERTIARY"
          [routerLink]="[`/${ROUTING.WEDDING}`]">
          Mariage
        </a>
      </li>
      <li>
        <a
          app-button
          [icon]="IconName.BxsRightArrow"
          [iconPosition]="IconPosition.LEFT"
          [variant]="ButtonVariant.TERTIARY"
          [routerLink]="[`/${ROUTING.BLOG}`]">
          Blog
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h2>Informations</h2>
    <ul>
      <li>
        <a
          app-button
          [icon]="IconName.BxsRightArrow"
          [iconPosition]="IconPosition.LEFT"
          [variant]="ButtonVariant.TERTIARY"
          [routerLink]="[`/${ROUTING.LEGAL_NOTICE}`]">
          Mentions légales
        </a>
      </li>
      <li>
        <a
          app-button
          [icon]="IconName.BxsRightArrow"
          [iconPosition]="IconPosition.LEFT"
          [variant]="ButtonVariant.TERTIARY"
          [routerLink]="[`/${ROUTING.SITEMAP}`]">
          Plan du site
        </a>
      </li>
    </ul>
  </div>
</div>
