<app-header [scrolledTheme]="true"></app-header>

<div class="block">
  <h1>Mon approche du mariage</h1>
  <p>
    Je suis convaincus, que pour raconter <strong></strong>l'histoire de votre mariage, il faut d'abord qu'on <strong></strong>apprenne à se
    connaitre. C'est pourquoi je vous accompagne tout au long de <strong></strong>vos préparatifs. Nous pourrons échanger à chaque fois que
    c'est nécessaire.
  </p>
  <p>
    Vous êtes stressé devant un appareil ? J'ai mis en place une
    <strong>séance fiançailles</strong> afin de mieux vous familiariser avec la caméra et réduire le stress du jour du mariage. Vous vous
    sentirez plus à l'aise et les photos en seront meilleurs. Ça sera également le moment pour nous de
    <strong>créer une relation de confiance et de confort</strong>. Les photos de cette séance pourront vous servir à
    <strong>envoyer les faire-part ainsi que les invitations de votre mariage</strong>.
  </p>
  <p>
    Le jour de votre mariage, nous serons enfin prêts. Prêt à raconter cette journée si spéciale pour vous.
    <strong>Je sais me faire discret</strong> pour vous délivrer un reportage avec de la spontanéité. Que les photos soient en noir et blanc
    ou en couleur, en portrait ou en paysage, mes choix sont toujours fait pour raconter au mieux les émotions qu'y s'en dégagent.
  </p>
  <p>
    Pour aller plus loin, je vous propose une
    <strong>
      <a
        class="link"
        [href]="linkDayAfter"
        rel="article de blog : Qu'est-ce qu'une séance photo Day After ?">
        séance "day after"</a
      > </strong
    >, afin de prolonger l'expérience sans les contraintes du mariage. Ça sera l'occasion de prendre le temps de réaliser des photos de
    couple, de vous replonger dans votre journée et de vous rappeler des bons moments.
  </p>
</div>

<div class="row">
  <div class="column">
    <img
      src="https://i.postimg.cc/G24L3sY8/clemence-louise-perquette-bellengreville-fenetre-bebe-noir-blanc.webp"
      alt="clemence-louise-perquette-bellengreville-fenetre-bébé-noir-blanc" />
    <img
      src="https://i.postimg.cc/K8jn20jm/anais-reportage-couverture-couple-bisous-embrassade-homme-femme.webp"
      alt="anais-reportage-couverture-couple-bisous-embrassade-homme-femme" />
    <img
      src="https://i.postimg.cc/4dS5Djbk/Mathilde-enfant-joie-amour-complicite-rire-maman-famille.webp"
      alt="Mathilde-enfant-joie-amour-complicite-rire-maman-famille" />
    <img
      src="https://i.postimg.cc/rmr0pb2L/jeremy-habillage-tenue-mariage-homme-habit-noeud-papillon-champetre.webp"
      alt="jeremy-habillage-tenue-mariage-homme-habit-noeud-papillon-champetre" />
    <img
      src="https://i.postimg.cc/158JyRTC/grand-pere-petite-fille-poney-portrait-balade.webp"
      alt="grand-pere-petite-fille-poney-portrait-balade" />
    <img
      src="https://i.postimg.cc/28CL70fC/jeremy-noeud-papillon-mariage-costume-homme-costard-bleu.webp"
      alt="jeremy-noeud-papillon-mariage-costume-homme-costard-bleu" />
    <img
      src="https://i.postimg.cc/W4z1drV6/anais-essayage-robe-mariee-dentelle-chateau-tableau-noir-blanc-princesse.webp"
      alt="anais-essayage-robe-mariée-dentelle-chateau-tableau-noir-blanc-princesse" />
  </div>

  <div class="column">
    <img
      src="https://i.postimg.cc/4yTLS6Nz/Mathilde-famille-maman-fille-telephone-boquet-sourire-joie.webp"
      alt="Mathilde-famille-maman-fille-telephone-boquet-sourire-joie" />
    <img
      src="https://i.postimg.cc/jjTnLHBZ/mobile-Mathilde-Sebastien-bisous-mairie-derval-enfant-couple.webp"
      alt="anais-jeremy-couple-sourire-pose-tableau-heureux-noir-blanc" />
    <img
      src="https://i.postimg.cc/vmff4WXx/anais-lina-robe-mariee-enfant-petite-fille-enfant-princesse.webp"
      alt="anais-lina-robe-mariée-enfant-petite-fille-enfant-princesse" />
    <img
      src="https://i.postimg.cc/brZSxkph/anais-jeremy-grand-pere-groupe-famille-heureux-joie.webp"
      alt="anais-jeremy-grand-pere-groupe-famille-heureux-joie" />
    <img
      src="https://i.postimg.cc/nrxh3W8p/Mathilde-enfant-fils-garcon-petit.webp"
      alt="Mathilde-enfant-fils-garcon-petit" />
    <img
      src="https://i.postimg.cc/fT9JMYKG/enfant-voile-rire-mere-et-fils-bebe.webp"
      alt="enfant-voile-rire-mere-et-fils-bebe" />
    <img
      src="https://i.postimg.cc/0Q3Cm8Db/fermeture-eclair-robe-de-mariee-glissiere-dos.webp"
      alt="fermeture-eclair-robe-de-mariee-glissiere-dos" />
    <img
      src="https://i.postimg.cc/rwvyv58s/couronne-fleurs-mariage-boheme-cheveux-long-femme-portrait.webp"
      alt="couronne-fleurs-mariage-boheme-cheveux-long-femme-portrait" />
  </div>
</div>

<div class="block">
  <h2>FAQ</h2>
  <mat-expansion-panel class="faq">
    <mat-expansion-panel-header class="header-faq">
      <p>Je ne suis pas photogénique</p>
    </mat-expansion-panel-header>

    <p class="text-left">
      Tout le monde peut être photogénique avec la bonne prise de vue et la bonne lumière. Mon but est de capturer l'essence de votre
      mariage, pas seulement votre apparence. Cependant, je vais vous aider à vous mettre à l'aise et à vous guider afin que vous puissiez
      être vous-même et que nous puissions capturer des images authentiques et mémorables.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel class="faq">
    <mat-expansion-panel-header class="header-faq">
      <p>Est-ce que tu communiques tes tarifs dès le premier échange par mail?</p>
    </mat-expansion-panel-header>

    <p class="text-left">Non, Je ne veux pas que vous pensiez que mes services sont interchangeables avec ceux d'un autre photographe.</p>

    <p class="text-left">
      C'est comme si vous achetiez une boîte de chocolats sans savoir ce qu'il y a à l'intérieur. Vous pouvez être sûr que vous obtiendrez
      un chocolat, mais vous ne savez pas si c'est un chocolat noir, au lait, aux noisettes ou aux éclats de caramel. Vous ne savez pas non
      plus si vous allez aimer le goût ou si vous allez être déçu.
    </p>
    <p class="text-left">
      Dans mon premier mail, je vous enverrai le prix de départ de mes prestations. Si vous souhaitez en savoir plus sur mes forfaits et mes
      options, nous pourrons nous rencontrer pour une consultation plus approfondie.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel class="faq">
    <mat-expansion-panel-header class="header-faq">
      <p>Es-tu disponible pour couvrir des mariages dans toute la France ou à l'étranger?</p>
    </mat-expansion-panel-header>

    <p class="text-left">
      Je suis disponible pour me déplacer partout en France et à l'étranger pour couvrir votre mariage. Si vous avez un événement à
      l'étranger, n'hésitez pas à me contacter pour discuter de vos besoins et de mes disponibilités
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel class="faq">
    <mat-expansion-panel-header class="header-faq">
      <p>Combien de temps à l'avance dois-t-on réserver tes service?</p>
    </mat-expansion-panel-header>

    <p class="text-left">
      Je recommande aux mariés de me contacter au moins 6 à 9 mois à l'avance pour être sûrs d'avoir ma disponibilité pour leur mariage.
      Cependant, si vous avez moins de temps, n'hésitez pas à me contacter pour voir si je suis disponible.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel class="faq">
    <mat-expansion-panel-header class="header-faq">
      <p>Qu'arrive-t-il si le temps est mauvais le jour de mon mariage?</p>
    </mat-expansion-panel-header>

    <p class="text-left">
      Ne vous inquiétez pas. Nous discuterons ensemble de tous les cas possibles. Qu'importe le temps, ma prestation sera toujours la même
      et votre journée inoubliable.
    </p>
  </mat-expansion-panel>
</div>

<div class="container-banner">
  <img
    class="banner way-together mt-xxl"
    src="https://i.postimg.cc/q7VzcBTY/enfant-marche-costume-bretelle-mariage-garcon-tenue-vetement.webp"
    alt="enfant-marche-costume-bretelle-mariage-garcon-tenue-vetement" />
  <div class="title-banner mt-xxl">Et si on faisait un bout de chemin ensemble ?</div>
</div>

<div class="block">
  <h2>Vous pouvez réserver votre séance dès à présent</h2>
  <div class="text-block">
    <p>
      N'hésitez pas à me contacter pour en savoir plus sur mes services, ainsi que pour réserver votre séance. Je suis impatients de vous
      connaitre afin de capturer le mariage qui vous ressemble
    </p>
  </div>

  <a
    class="button primary-color is-medium"
    target="_blank"
    href="https://calendly.com/dylanbonneau/contact">
    Prendre un RDV
  </a>
</div>

<app-footer></app-footer>
