<div class="container">

  <div class="grid">
    <div class="grid-items center">
      <h1 class="center">Concevoir avec des icônes</h1>
    </div>
  </div>

  <div class="grid">
    <div class="grid-items center">
      <p>Les icônes sont des symboles visuels utilisés pour représenter des idées, des objets ou des actions. Ils
        communiquent des messages en un coup d'œil, permettent l'interactivité et attirent l'attention sur des
        informations importantes.</p>
    </div>
  </div>

  <div class="grid">
    <div class="grid-items center">
      <div>
        <pre><code [highlight]="iconCheck"></code></pre>
      </div>
      <div>
        <em class="icon icon-check"></em>
      </div>
    </div>
  </div>

  <!----------------- couleurs ----------------->
  <div class="grid">
    <div class="grid-items center flex flex-column">
      <h3>Les couleurs</h3>
    </div>
  </div>

  <div class="grid">
    <div class="grid-items center">
      <div>
        <p>
          Les icônes sont toujours de couleur unie et monochromatique et doivent passer
          le même rapport de contraste de couleur que la typographie.
        </p>
        <p>
          La couleur de l'icône doit refléter l'importance de l'action de l'icône,
          qui doit toujours être destinée à guider l'utilisateur.
        </p>
        <p>
          Faites correspondre la couleur de votre icône avec la couleur de votre texte lors de leur association.
        </p>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="grid-items center">
      <div>
        <pre><code [highlight]="iconCheckPrimary"></code></pre>
      </div>
      <div>
        <em class='icon icon-check colors-primary'></em>
      </div>
    </div>
  </div>

  <!----------------- tailles ----------------->
  <div class="grid">
    <div class="grid-items center">
      <h3>Les tailles</h3>
    </div>
  </div>

  <div class="grid">
    <div class="grid-items center">
      <div>
        <p>
          Les icônes cont généralement des icônes de 16 pixels.
          Les icônes de 20 pixels, 24 pixels et 32 ​​pixels peuvent
          également être utilisées dans l'interface utilisateur.
        </p>
        <p>
          Assurez-vous que la taille des icônes est uniforme dans tout votre produit.
        </p>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="grid-items center">
      <div>
        <pre><code [highlight]="iconCheckFontSize20"></code></pre>
      </div>
      <div>
        <em class='icon icon-check font-size-16'></em>
      </div>
      <div>
        <em class='icon icon-check font-size-20'></em>
      </div>
      <div>
        <em class='icon icon-check font-size-24'></em>
      </div>
      <div>
        <em class='icon icon-check font-size-32'></em>
      </div>
    </div>
  </div>


</div>
