:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.sidebar-container {
  display: flex;
  position: relative;
  flex: 0 0 230px;
  flex-direction: column;
  min-height: 100%;
  padding: var(--size-space-200);
  overflow-y: auto;
  transition: all .3s ease;
  background-color: var(--color-background-subtle);

  a {
    overflow: hidden;
    transition: opacity .3s ease;
    opacity: 1;
    white-space: nowrap;
  }

  .toggle-sidebar {
    display: flex;
    position: absolute;
    top: var(--size-space-200);
    right: var(--size-space-200);
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    padding: 8px;
    border: 1px solid var(--color-border-default);
    border-radius: 4px;
    background-color: var(--color-background-default);
    cursor: pointer;

    &:hover {
      background-color: var(--color-background-subtle);
    }

    span {
      font-size: 16px;
    }
  }

  h1 {
    margin-right: 40px;
  }

  &.collapsed {
    flex: 0 0 50px;
    padding: var(--size-space-200) 8px;

    a {
      opacity: 0;
      pointer-events: none;
    }

    .toggle-sidebar {
      right: 8px;
    }
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  padding: var(--size-space-200);
  overflow-y: auto;
  transition: margin-left .3s ease;
}
