@use 'common/variables';
@use 'common/mixins/mixins';
@use 'common/utils';
@use 'common/articles';
@use 'common/pages';
@use 'common/icons';
@use 'common/images';
@use 'common/animations';
@use 'design-token/design-token';

/* You can add global styles to this file, and also import other style files */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-background-inverse);
}

* {
  margin: 0;
}

/* stylelint-disable declaration-no-important -- needed to ensure scroll lock works */
body[data-scroll-locked] {
  position: relative !important;
  margin-top: 0;
  margin-right: 0 !important;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden !important;
  overscroll-behavior: contain;
}
/* stylelint-enable declaration-no-important */
