<!-- MENU -->
<app-header [scrolledTheme]="true"></app-header>

<section class="welcome">
  <div class="media">
    <img
      class="img"
      src="https://i.postimg.cc/SNKLx4P4/plage-cabourg-calvados-normandie-dylan-bonneau.webp"
      alt="plage_cabourg_calvados_normandie_dylan_bonneau" />
  </div>
  <div class="content">
    <h1 class="colors-black">
      Hey! Je suis <span class="primary-color">Dylan</span>, le
      <span class="primary-color">Photographe</span>
    </h1>
    <p><strong>Je me suis donné une mission</strong> : Donner à tout le monde le pouvoir d'être heureux.</p>
    <p class="mt-0">Dites-moi ce qui vous donne le sourir. C'est à vous de décider de comment partager votre bonheur.</p>
    <a
      class="button is-medium primary-color"
      target="_blank"
      href="https://calendly.com/dylanbonneau/appel-telephonique"
      rel="redirection vers calendly pour prendre rendez-vous"
      >Faisons connaissance</a
    >
  </div>
</section>

<section class="if-you-are-here">
  <div class="sensitivity">
    <div class="text">
      <h2>Si vous êtes ici,</h2>
      <p>
        C'est sûrement que vous avez décidé d'en
        <strong>savoir un peu plus sur moi</strong>, et d'être sûr de
        <strong>trouver le photographe de mariage qui vous correspond</strong>. Et ça tombe bien, car vous êtes au bon endroit ! Vous êtes
        prêt ? Je vais commencer.
      </p>
      <p>
        J'ai toujours eu l'envie d'<strong>apprendre</strong>, le besoin de
        <strong>créer</strong> et l'envie de <strong>découvrir</strong> de nouvelles choses. Il me prend parfois l'envie de dessiner deux ou
        trois croquis, de coder mon site internet pendant des heures ou même (et c'est pour ça que vous êtes là)
        <strong>faire des photos</strong>.
      </p>
      <p>
        De nature introvertie, la création m'a permis de
        <strong>prendre confiance en moi</strong> et de <strong>partager mes compétences</strong>. J'ai compris que même si parfois on se
        retrouve fasse à l'échec, avec de la persévérance, on peut parfois réaliser ce qu'on pensé impossible.
      </p>
    </div>
    <div class="img">
      <img
        class="its-me"
        width="321"
        height="650"
        src="https://i.postimg.cc/YStYTwYT/dylan-bonneau-rire-sourire-joie-bonheur-chemise-fleur.webp"
        alt="dylan_bonneau_rire_sourire_joie_bonheur_chemise_fleur" />
    </div>
  </div>
</section>

<section class="it-was-in">
  <div class="text">
    <h2>C'était en 2013</h2>
    <p>
      <strong>Mon premier appareil photo</strong> ce n'était pas le mien. <strong>Mon grand-père</strong> venait d'acheter son appareil pour
      les vacances, et je peux vous garantir que lors de cet été-là, il n'a pas eu beaucoup l'occasion de s'en servir. Je prenais tout et
      n'importe quoi.
    </p>
    <p>
      Quelques années et nombreuses photos plus tard,
      <strong>ma sœur</strong> m'a demandé deux choses. La première, si je voulais être <strong>son témoin</strong>, la deuxième si je
      pouvais <strong>faire deux/trois photos de son mariage</strong>.
    </p>
    <p>
      <strong>Ma famille</strong> compte énormément pour moi et je ne serais pas en train d'écrire ces lignes en ce moment sans elle. Je
      suis devenu <strong>photographe de mariage</strong> pour raconter des histoires,
      <strong>celle de votre relation, celle de votre famille, celle de vos amis</strong>.
    </p>
  </div>
</section>

<section class="values">
  <div class="text">
    <h2>Vous êtes au cœur de mes actions</h2>
    <p>
      Je place votre bonheur et votre satisfaction au cœur de chacune de mes actions. Je m'efforce de comprendre vos préférences, vos
      valeurs et vos rêves pour créer un reportage qui résonne avec votre histoire d'amour.
    </p>
    <p class="text-center"><strong>Cinq principes guident mes choix</strong></p>
  </div>
  <ul>
    <li>
      <img
        class="img"
        src="https://i.postimg.cc/FRVDtRJ5/courrir-jogging-parc-cafe.webp"
        alt="courrir_jogging_parc_cafe" />
      <h3>Un service sur mesure</h3>
      <p>Comptez sur moi pour vous accompagner. Je m'adapte à vos besoins et à vos souhaits, quoi qu'il arrive.</p>
    </li>
    <li>
      <img
        class="img"
        src="https://i.postimg.cc/mrMmwVLr/relaxation-hamac-tranquilite-no-stress.webp"
        alt="relaxation_hamac_tranquilite_no_stress" />
      <h3>Oubliez le stress</h3>
      <p>
        Nous créerons ensemble, un environnement apaisant. Vous pourrez ainsi vous concentrer sur l'instant présent pendant que je m'occupe
        du reste.
      </p>
    </li>
    <li>
      <img
        class="img"
        src="https://i.postimg.cc/zvd7Bcjx/amis-boisson-apero-groupe.webp"
        alt="amis_boisson_apero_groupe" />
      <h3>La joyeuse bande</h3>
      <p>
        Tout au long de la journée, je serai comme l'un des vôtres, m'intégrant discrètement à votre cercle d'amis pour capturer des clichés
        sincères et naturels.
      </p>
    </li>

    <li>
      <img
        class="img"
        src="https://i.postimg.cc/DzbMNngn/polaroid-image-photo-paysage.webp"
        alt="polaroid_image_photo_paysage" />
      <h3>Un voyage visuel</h3>
      <p>
        Un album photos offert ! C'est ma façon de vous donner un véritable trésor familial dont la valeur ne fera que grandir avec les
        années. Il vous permettra de revivre votre mariage comme si c'était hier.
      </p>
    </li>

    <li>
      <img
        class="img"
        src="https://i.postimg.cc/bw46k4jM/famille-enfant-parent-couple.webp"
        alt="famille_enfant_parent_couple" />
      <h3>Une famille unie</h3>
      <p>
        Je saisis les liens inestimables qui unissent les familles. Chaque regard complice, chaque enlacement affectueux, je les immortalise
        pour que ces moments d'affection restent à jamais dans vos souvenirs.
      </p>
    </li>
  </ul>
</section>

<section class="its-your-turn">
  <div class="text">
    <h2>Maintenant, c'est à <span class="primary-color">votre tour</span> de vous dévoiler.</h2>
    <p>
      Je vous ai parlé de moi, de comment je travaille, mais je ne sais encore rien de vous. <strong>Racontez-moi</strong> comment vous vous
      êtes rencontré. <strong>Dites-moi</strong> qui a fait le premier bisou. <strong>Je veux en savoir</strong> plus sur vous.
      <strong>Prenons le temps d'échanger</strong> autour d'un café, d'un thé ou pourquoi pas une bonne bière.
    </p>
  </div>
  <a
    class="button primary-color is-medium"
    target="_blank"
    href="https://calendly.com/dylanbonneau/appel-telephonique"
    >Prenons le temps d'échanger</a
  >
</section>
