<app-header [scrolledTheme]="true"></app-header>

<div class="block">
  <h1>Mentions légales</h1>
  <div class="text-block">
    <p>
      Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux
      utilisateurs du site dylanbonneau.fr l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>
  </div>
  <div class="text-block">
    <h2>Edition du site</h2>
    <p>Toutes les photos présentes sur ce site sont soumises au droit d'auteur. Elles sont toutes la propriété de Dylan BONNEAU.</p>
    <p>
      Le présent site, accessible à l'URL https://dylanbonneau.fr/ (le « Site »), est édité par Dylan BONNEAU, résidant 9 rue françois
      tourillon 35390 La dominelais, de nationalité Française (France), né(e) le 05/03/1995,
    </p>
    <p>
      "Il est interdit de reproduire, de copier, de diffuser ou d'utiliser de quelque manière que ce soit les photos présentes sur ce site
      sans l'autorisation écrite préalable de Dylan BONNEAU. Toute utilisation non autorisée est susceptible de constituer une violation des
      droits de propriété intellectuelle de Dylan BONNEAU. Toute demande d'autorisation doit être adressée à Dylan BONNEAU via mail à
      l'adresse mail suivante : dylanbonneau1&#64;gmail.com
    </p>
  </div>
  <div class="text-block">
    <h2>Hébergement</h2>
    <p>
      Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email
      : 1007).
    </p>
  </div>
  <div class="text-block">
    <h2>Directeur de publication</h2>
    <p>Le Directeur de la publication du Site est Dylan BONNEAU.</p>
  </div>
  <div class="text-block">
    <h2>Me contacter</h2>
    <p>Par téléphone : +33669772174</p>
    <p>Par email : bonneaudylan1&#64;gmail.com</p>
    <p>Par courrier : 9 rue françois tourillon 35390 La dominelais</p>
  </div>
  <div class="text-block">
    <h2>Politique relative aux cookies 🍪</h2>
    <p>
      Pour le bon fonctionnement du site et de ses services, j'utilise des cookies lors de votre connexion. Un cookie est composé uniquement
      de texte et est stocké dans votre navigateur. Certains cookies sont obligatoires au bon fonctionnement du site. Ci-dessous, vous
      trouverez les différents cookies que j'utilise et dans quel but.
    </p>
    <p><strong>Axeptio</strong></p>
    <p>Permet de recueillir le consentement des utilisateurs sur l'utilisation des cookies.</p>
    <p><strong>Google Analytics</strong></p>
    <p>Permet d'analyser les statistiques de consultation de notre site.</p>
  </div>
</div>

<app-footer></app-footer>
