h1,
h2,
h3,
h4,
p {
  margin: 24px 20px;
}

p {
  font-size: 1.25rem;
}

h1 {
  text-align: center;
  font-weight: 700 !important;
  color: $primary;
  
  @media (min-width: 900px) {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: 2rem;

  @media (min-width: 900px) {
    font-size: 2.625rem;
  }
}