h1,
h2,
h3,
h4,
p {
  margin: 24px 20px;
}

p {
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  font-weight: 700 !important;
  color: $primary;
  font-size: 2rem;
  
  @media (min-width: 900px) {
    font-size: 2.5rem;
  }
}

h2, h3 {
  font-size: 1.5rem;

  @media (min-width: 900px) {
    font-size: 2rem;
  }
}