@import "../modules/fonts/fonts";

/**
 * Titles
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.small-caps {
  font-variant: small-caps;
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.text-bold,
strong {
  font-weight: 700;
}

.text-normal {
  font-weight: 400;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.title,
.subtitle {
  color: black;
  text-align: center;
}

.title {
  display: block;
  position: relative;
  margin-bottom: 0.625rem;
  padding-bottom: 1rem;
  font-size: 2.8rem;
  line-height: 1;

  &::after {
    content: attr(data-title);
    display: block;
    margin-top: 0.938rem;
    color: $primary;
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.188rem;
    text-transform: uppercase;
  }

  &:not(.with-subtitle) {
    margin-bottom: 80px;
  }
}

.subtitle {
  margin-bottom: 80px;
  font-size: 1rem;
}

.text-left {
  text-align: left;
}
