.container {
  margin: 10px;
}

.header {
  height: 120px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  text-align: center;

  &-items {
    flex-direction: column;
    width: 100%;
    min-height: 30px;
    text-align: left;

    &::before {
      content: "";
      float: left;
    }
  }

  &-colors {
    width: 20%;
    transition: transform 0.165s cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 0.38s cubic-bezier(0.4, 0, 0.2, 1) 0.215s,
      background 0.5s linear;
    cursor: pointer;

    @media (min-width: 48em) {
      width: 5.5%;
    }

    &::before {
      content: "";
      padding-top: 100%;
      float: left;
    }

    &.active {
      border-radius: 50%;
    }

    em {
      font-size: 32px;
    }
  }

  &-icons {
    flex-direction: column;
    width: 96px;
    transition: transform 0.165s cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 0.38s cubic-bezier(0.4, 0, 0.2, 1) 0.215s,
      background 0.5s linear;
    font-size: 10px;
    cursor: pointer;

    &::before {
      content: "";
      float: left;
    }

    em {
      font-size: 32px;
    }
  }

  &-icons:hover,
  &-colors:hover {
    z-index: 100;
    transform: scale(1.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  &-selected-icons {
    flex-direction: row;
    width: 100%;
    min-height: 40px;

    em {
      margin-left: 15px;
      font-size: 32px;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Flex Display
 */
.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.content-initial {
  justify-content: initial;
}

.content-center {
  justify-content: center;
}

.content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

/**
 * Card
 */

.image-mosaic {
  display: grid;
  padding: 32px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 3 / auto;
  }
}
