.container {
  margin: 10px;
}

.header {
  height: 120px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  text-align: center;

  &-items {
    flex-direction: column;
    width: 100%;
    min-height: 30px;
    text-align: left;

    &::before {
      content: "";
      float: left;
    }
  }

  &-colors {
    width: 20%;
    transition: transform 0.165s cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 0.38s cubic-bezier(0.4, 0, 0.2, 1) 0.215s,
      background 0.5s linear;
    cursor: pointer;

    @media (min-width: 48em) {
      width: 5.5%;
    }

    &::before {
      content: "";
      padding-top: 100%;
      float: left;
    }

    &.active {
      border-radius: 50%;
    }

    em {
      font-size: 32px;
    }
  }

  &-icons {
    flex-direction: column;
    width: 96px;
    transition: transform 0.165s cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 0.38s cubic-bezier(0.4, 0, 0.2, 1) 0.215s,
      background 0.5s linear;
    font-size: 10px;
    cursor: pointer;

    &::before {
      content: "";
      float: left;
    }

    em {
      font-size: 32px;
    }
  }

  &-icons:hover,
  &-colors:hover {
    z-index: 100;
    transform: scale(1.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  &-selected-icons {
    flex-direction: row;
    width: 100%;
    min-height: 40px;

    em {
      margin-left: 15px;
      font-size: 32px;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Flex Display
 */
.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.content-initial {
  justify-content: initial;
}

.content-center {
  justify-content: center;
}

.content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

/**
 * banner
 */

.container-banner {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 64px;

  .title-banner {
    background: var(--primary);
    max-width: 600px;
    padding: 24px 0;
    width: 100%;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);

    @media (min-width: 900px) {
      padding: 24px;
    }
  }
}

.full-size {
  width: 100%;
}

.banner {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 85% 29%;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 48px);
  min-height: calc(100vh - 300px);
  text-align: justify;
  padding: 24px;

  h1,
  h2 {
    display: flex;
    flex-direction: column;
  }

  h1,
  h2,
  p {
    @media (min-width: 900px) {
      max-width: 1000px;
    }
  }
}
