@use 'variables';
@use 'icons';
@use 'mixins';
@use 'button';
@use 'utils';
@use 'colorPalettes';
@use 'sizes';
@use 'typography';

/* You can add global styles to this file, and also import other style files */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--black);
}

* {
  margin: 0;
  font-family: Cardo,
    Raleway,
    Oswald,
    sans-serif;
}
